{% extends "base.html" %}

{% load static %}
{% block title %}订单评价{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/aside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/evaluate.css' %}">
{% endblock %}
{% block body %}
    {% include "app/header.html" %}
    <div class="content center-block">
        <div class="col-main">
            <div class="main-wrap">
                <div class="info">
                    <!--标题-->
                    <div class="info-head">
                        <p>
                            <span class="head-text">评价管理</span>/
                            <span class="for-head-text">evaluate management</span>
                        </p>
                    </div>
                    <!--评价列表-->
                    <div class="evaluate-list">
                        <div class="evaluate-table">
                            <ul class="table-header">
                                <li class="text-center col-md-5">商品</li>
                                <li class="text-center col-md-2">评价时间</li>
                                <li class="text-center col-md-5">评价内容</li>
                            </ul>
                            <ul class="table-content">
                                {% for evaluation in evaluations %}
                                <li class="col-md-5">
                                    <div class="col-md-3 commodity-pic">
                                        <img src="{{evaluation.product.thumbnail}}" alt="商品图片">
                                    </div>
                                    <ul class="col-md-9 commodity-detail">
                                        <li class="commodity-name">{{evaluation.product.name}}</li>
                                        <li class="commodity-attribute">{{evaluation.product.brand}}</li>
                                    </ul>
                                </li>
                                <li class="col-md-2 text-center evaluate-time">{{evaluation.evaluateTime}}</li>
                                <li class="col-md-5 evaluate-text">{{evaluation.evaluation}}</li>
                            </ul>
                            {% endfor %}
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {% if evaluations.has_previous %}
                                    <li>
                                        <a href="?page={{evaluations.previous_page_number}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li><a href="#">{{evaluations.number}} / {{evaluations.paginator.num_pages}}</a></li>
                                    {% if evaluations.has_next %}
                                    <li>
                                        <a href="?page={{evaluations.next_page_number}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include "customer/aside.html" %}
    </div>
{% endblock %}

{% block js %}

{% endblock %}