{% extends "base.html" %}

{% load static %}
{% block title %}订单管理{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/customer/aside.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/customer/order.css' %}">
{% endblock %}
{% block body %}
{% include "app/header.html" %}
<div class="content center-block">
    <div class="col-main">
        <div class="main-wrap">
            <div class="info">
                <!--标题-->
                <div class="info-head">
                    <p>
                        <span class="head-text">订单管理</span>/
                        <span class="for-head-text">order management</span>
                    </p>
                </div>
                <!--订单列表-->
                <div class="order-list">
                    <ul class="nav nav-tabs nav-justified" style="padding: .5rem">
                        <li role="presentation" class="active"><a href="{% url 'customer:order' %}">待发货</a></li>
                        <li role="presentation"><a href="{% url 'customer:receiveorder' %}">待收货</a></li>
                        <li role="presentation"><a href="{% url 'customer:evaluateorder' %}">待评价</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <div id="myTabContent" class="tab-content">
                        <div class="container tab-pane fade order-table active in" id="toSentOrder" role="tabpanel"
                             aria-labelledby="tosent">
                            <ul class="table-header">
                                <li class="text-center col-md-4">商品</li>
                                <li class="text-center col-md-2">单价</li>
                                <li class="text-center col-md-2">数量</li>
                                <li class="text-center col-md-2">交易状态</li>
                                <li class="text-center col-md-2">合计</li>
                            </ul>
                            {% for product in products %}
                            <div class="order">
                                <p class="order-detail">
                                    <span class="detail-text">订单编号：{{product.id}}</span>
                                    <span class="detail-text">订单生成时间：{{product.addTime}}</span>
                                </p>
                                <div class="order-content">
                                    <ul class="table-content">
                                        <li class="col-md-4">
                                            <div class="col-md-3 commodity-pic">
                                                <a href="{% url 'app:introduction' %}?id={{product.product.id}}">
                                                    <img src="{{product.product.thumbnail}}" alt="商品图片">
                                                </a>
                                            </div>
                                            <ul class="col-md-9 commodity-detail">
                                                <li class="commodity-name">{{product.product.name}}</li>
                                                <li class="commodity-attribute">{{product.product.brand}}</li>
                                            </ul>
                                        </li>
                                        <li class="col-md-2 text-center commodity-price">{{product.sellPrice}}</li>
                                        <li class="col-md-2 text-center commodity-num">{{product.amount}}</li>
                                        <li class="col-md-2 text-center transaction-status">
                                            <p class="status-text">买家已付款</p>
                                        </li>
                                        <li class="col-md-2 text-center transaction-operation"></li>
                                    </ul>
                                    <div class="table-right" style="width: 16%">
                                        <ul>
                                            <li>
                                                <p class="total-price"></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {% if products.has_previous %}
                                    <li>
                                        <a href="?page={{products.previous_page_number}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li><a href="#">{{products.number}} / {{products.paginator.num_pages}}</a></li>
                                    {% if products.has_next %}
                                    <li>
                                        <a href="?page={{products.next_page_number}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "customer/aside.html" %}
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/customer/order/order.js' %}"></script>
{% endblock %}