<aside class="menu">
    <ul>
        <li class="menu-item text-center">
            <a href="index">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>个人中心
            </a>
        </li>
        <li class="menu-item text-center">
            <p>
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>个人资料
            </p>
            <ul>
                <li>
                    <a href="information">个人信息</a>
                </li>
                <li>
                    <a href="address">地址管理</a>
                </li>
            </ul>
        </li>
        <li class="menu-item text-center">
            <p>
                <span class="glyphicon glyphicon-random" aria-hidden="true"></span>我的交易
            </p>
            <ul>
                <li>
                    <a href="order">订单管理</a>
                </li>
                <li>
                    <a href="evaluate">商品评价</a>
                </li>
            </ul>
        </li>
        <li class="menu-item text-center">
            <p>
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>我的账单
            </p>
            <ul>
                <li>
                    <a href="bill">账单明细</a>
                </li>
            </ul>
        </li>
        <li class="menu-item text-center">
            <p>
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>我的收藏
            </p>
            <ul>
                <li>
                    <a href="collection">收藏</a>
                </li>
            </ul>
        </li>
        <li class="menu-item text-center">
            <p>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>在线客服
            </p>
            <ul>
                <li>
                    <a href="consult">商品咨询</a>
                </li>
                <li>
                    <a href="opinion">意见反馈</a>
                </li>
                <li>
                    <a href="message">我的消息</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>