{% extends "base.html" %}

{% load static %}
{% block title %}eshop-欢迎登录{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/login.css' %}">
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div id="logo">
            <a href="index.html">eshop</a>
            <span>欢迎登录</span>
        </div>
    </div>
    <div class="login-wrap clearfix">
        <div class="wrapper">
            <div class="login-form">
                <div class="login-box">
                    <div class="form-header">账户登录</div>
                    <div class="msg-error hide"></div>
                    <form id="loginForm" v-on:submit.prevent="login">
                        {% csrf_token %}
                        <div class="form-item">
                            <label for="loginname" class="login-name-label"></label>
                            <input v-model="customer.username" id="loginname" class="input-box" type="text" name="loginname"
                                   placeholder="用户名/邮箱/手机">
                        </div>
                        <div class="form-item">
                            <label for="loginpwd" class="login-pwd-label"></label>
                            <input v-model="customer.password" id="loginpwd" class="input-box" type="password" name="loginpwd" placeholder="密码">
                        </div>
                        <div class="form-item" style="border:0">
                            <div id="drag"></div>
                        </div>
                        <input type="hidden" name="valicode" id="valicode">
                        <div class="login-btn">
                            <input type="submit" value="登 录">
                        </div>
                    </form>
                    <div class="forget-register">
                        <a href="{% url 'customer:forgetPwd' %}">忘记密码</a>
                        <a href="{% url 'customer:register' %}" class="free-register">免费注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/customer/login.js' %}"></script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/customer/drag.js' %}"></script>
    <script type="text/javascript">
        $('#drag').drag();
    </script>
{% endblock %}