{% extends "base.html" %}

{% load static %}
{% block title %}商品列表{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller/aside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller/goodslist.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' %}">
{% endblock %}
{% block body %}
    {% include "seller/header.html" %}
    <div class="content center-block">
        <div class="col-main">
            <div class="main-wrap">
                <div class="info">
                    <!--标题-->
                    <div class="info-head">
                        <p>
                            <span class="head-text">商品列表</span>/
                            <span class="for-head-text">goods list</span>
                        </p>
                    </div>
                    <!--商品列表内容-->
                    <div class="content">
                        <div class="list-content">
                            <div class="add-goods">
                                <a class="btn" data-toggle="modal" data-target="#selectPropertyModal" style="color: #fff;background-color: red;margin-bottom: 1.5rem">新增商品</a>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>商品图片</th>
                                    <th>商品名</th>
                                    <th>商品价格</th>
                                    <th>商品销量</th>
                                    <th>库存量</th>
                                    <th>添加时间</th>
                                    <th>商品操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td class="goods-image"><img src="{% static 'images/customer/kouhong-big.jpg' %}" alt="美康粉黛醉美唇膏"></td>
                                        <td class="goods-name">{{product.name}}</td>
                                        <td class="goods-price">￥{{product.price}}</td>
                                        <td class="goods-sale-num">{{product.soldoutAmount}}</td>
                                        <td class="goods-amount">{{product.amount}}</td>
                                        <td class="goods-add-time">{{product.addTime}}</td>
                                        <td class="goods-operation">
                                            <ul class="operation-content">
                                                <li class="modify"><a class="btn btn-primary" href="{% url 'seller:updateGoods' %}?id={{product.id}}">修改</a></li>
                                                <select>
                                                    <option value="0">预售</option>
                                                    <option value="1">上架</option>
                                                    <option value="2">下架</option>
                                                </select>
                                                <li class="delete"><a class="btn btn-danger del-goods" data-id="{{product.id}}" data-target="#deleteModal">删除</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {% if products.has_previous %}
                                    <li>
                                        <a href="?page={{products.previous_page_number}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li><a>{{products.number}} / {{products.paginator.num_pages}}</a></li>
                                    {% if products.has_next %}
                                    <li>
                                        <a href="?page={{products.next_page_number}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include "seller/aside.html" %}
    </div>
    <!--选择商品属性模态框-->
    <div class="modal fade" id="selectPropertyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">选择商品所属的种类</h4>
                </div>
                <div class="modal-body" style="padding-top: 2rem">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">种类</label>
                            <div class="col-md-9">
                                <div class="col-md-4" style="padding-left: 0">
                                    <select class="form-control" v-on:change="updateG1Category" v-model="g1Category">
                                        {% for category in categories %}
                                        <option value="{{category.id}}">{{category.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4" style="padding-left: 0">
                                    <select class="form-control" v-on:change="updateG2Category" v-model="g2Category">
                                        <template v-for="g2Category in g2Categories">
                                            <option v-bind:value="g2Category.id" v-html="g2Category.name"></option>
                                        </template>
                                    </select>
                                </div>
                                <div class="col-md-4" style="padding: 0">
                                    <select class="form-control" v-model="category">
                                        <template v-for="g3Category in g3Categories">
                                            <option v-bind:value="g3Category.id" v-html="g3Category.name"></option>
                                        </template>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" v-on:click="addGoods">确定</a>
                    <a class="btn btn-default" data-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>
    <!--删除商品模态框-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">系统提示</h4>
                </div>
                <div id="delModalInfo" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" %}"></script>
    <script>
         $(function () {
            $('#manufacture-date').datetimepicker({
                format: 'YYYY-MM-DD'
            });
             $('#guarantee-date').datetimepicker({
                format: 'YYYY-MM-DD'
            });
             $("[data-toggle='popover']").popover();

            $(".del-goods").on("click",function(){
                $.get("/seller/goods/deleteGoods?id="+$(this).data("id"),function(result){
                    $("#delModalInfo").html(result.msg);
                    $("#deleteModal").modal("toggle");
                    setTimeout(function(){location.reload(true);},2000);
                });
            });
        });
    </script>

<script>
    var categoryModal = new Vue({
        el:"#selectPropertyModal",
        data:{
            g1Category:"",
            g2Category:"",
            category:"",
            g2Categories:{},
            g3Categories:{},
        },
        methods:{
            updateG1Category:function(){
                var that = this;
                this.$http.get("/seller/goods/getSubCategories?id="+this.g1Category)
                          .then(success=>{
                            if(success.body.code == 200){
                                that.g2Categories = success.body.data.subCategories;
                            }
                          },error=>{console.log(error);});
            },
            updateG2Category:function(){
                var that = this;
                this.$http.get("/seller/goods/getSubCategories?id="+this.g2Category)
                          .then(success=>{
                            if(success.body.code == 200){
                                that.g3Categories = success.body.data.subCategories;
                            }
                          },error=>{console.log(error);});
            },
            addGoods:function(){
                if(this.category!=""){
                    location.href = "/seller/goods/addGoods?categoryId="+this.category;
                }
            }
        },
    });

</script>
{% endblock %}