<aside class="menu">
    <ul>
        <li class="menu-item text-center">
            <a href="index">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>商家中心
            </a>
        </li>
        <li class="menu-item text-center">
            <p>
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>店铺资料
            </p>
            <ul>
                <li>
                    <a href="{% url 'seller:shopinfo' %}">店铺信息</a>
                </li>
            </ul>
        </li>
        <li class="menu-item text-center">
            <p>
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>商品管理
            </p>
            <ul>
                <li>
                    <a href="{% url 'seller:goodslist' %}">商品列表</a>
                </li>
            </ul>
        </li>
        <li class="menu-item text-center">
            <p>
                <span class="glyphicon glyphicon-random" aria-hidden="true"></span>店铺交易
            </p>
            <ul>
                <li>
                    <a href="{% url 'seller:order' %}">订单管理</a>
                </li>
            </ul>
        </li>
        <li class="menu-item text-center">
            <p>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>我的信息
            </p>
            <ul>
                <li>
                    <a href="{% url 'seller:verify' %}">退款审核</a>
                </li>
                <li>
                    <a href="{% url 'seller:consult' %}">咨询回复</a>
                </li>
                <li>
                    <a href="{% url 'seller:opinion' %}">意见回复</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>