<!--顶部导航条 -->
<header class="nav-wrapper">
    <div class="nav-content">
        <ul class="nav-operation">
            <li class="operation-item">
                hi，
                <a href="{% url 'seller:index' %}" class="nav-user-name" style="color: #ff2832;margin-right: .2rem;">{{seller.name}}</a>
                <a href="{% url 'seller:login' %}" rel="nofollow" class="logout">[退出]</a>
            </li>
            <li class="operation-item">
                <a href="{% url 'seller:order' %}" name="交易订单" rel="nofollow">交易订单</a>
            </li>
            <li class="operation-item">
                <a href="{% url 'seller:index' %}" name="个人中心" rel="nofollow">个人中心</a>
            </li>
            <li class="operation-item dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    客户服务<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">联系客服</a></li>
                    <li><a href="#">意见建议</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<!--卖家中心logo -->
<div class="logo-wrapper">
    <div id="logo" style="margin:1rem .6rem"><a href="{% url 'seller:index' %}">eshop</a></div>
    <p class="logo-text">
        商家支持
    </p>
</div>