.content{
    position: relative;
    margin-bottom: 3rem;
}
.list-content{
    padding: .5rem;
}
table th,td{
    text-align: center;
}
table td img{
    width: 3rem;
    height: 3rem;
}
.goods-name{
    max-width: 4rem;
}
.goods-operation{
    width: 9rem;
}
.goods-name,.goods-price,.goods-sale-num,.goods-amount,.goods-add-time,.goods-operation{
    padding: 1.2rem 0 !important;
}
.operation-content li{
    float: left;
    margin: .3rem;
}
.content nav{
    position: absolute;
    right: .5rem;
    bottom: -2.6rem;
}
.form-group{
    margin-bottom: 1.2rem;
}
.goods-operation select{
    display: inline-block;
    margin-top: .1rem;
    height: 1.7rem;
    font-size: .7rem;
    line-height: 1.42;
    color: #555;
    border: 1px solid #ccc;
    border-radius: .2rem;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}