.search{
    overflow: hidden;
}
.search .input-group{
    float: right;
}
table{
    margin: 3rem 0;
}
table th,td{
    text-align: center;
}
table td{
    padding-bottom: .6rem;
    padding-top:.6rem;
}
