{% extends "admin/base.html" %}
{% block title %} eshop admin index {% endblock %}
{% load static %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/admin/index.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/admin/common/index.css' %}"/>
{% endblock %}

{% block withnavbody %}
<div class="wrapper">
    <div class="panel panel-info col-md-5">
        <div class="panel-heading">新增买家</div>
        <table class="table table-hover">
            <thead>
                <th>买家名</th>
                <th>买家注册时间</th>
            </thead>
            <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{customer.name}}</td>
                <td>{{customer.registTime}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel panel-info col-md-5 col-md-offset-1">
        <div class="panel-heading">新增卖家</div>
        <table class="table table-hover">
            <thead>
                <th>卖家名</th>
                <th>卖家注册时间</th>
                <th>卖家店铺</th>
            </thead>
            <tbody>
            {% for seller in sellers %}
            <tr>
                <td>{{seller.name}}</td>
                <td>{{seller.registTime}}</td>
                <td>{{seller.shopName}}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/admin/index.js' %}"></script>
{% endblock %}