{% extends "admin/base.html" %}
{% load static %}

{% block withnavbody %}
<div class="col-md-offset-4">
    <h3>商城首页商品目录导航管理</h3>
</div>
<a class="btn btn-primary" href="{% url 'admin:productAdminCategory' %}">添加新商品分类</a>
<hr/>
{% if categories %}
<form class="form-horizontal">
    {% csrf_token %}
    {% for grade1 in categories %}
    <div class="col-md-offset-1">
        <div class="form-group">
            <div class="col-md-2"><label>{{grade1.name}}</label></div>
            <div class="col-md-2">
                <label class="radio-inline">
                    <input type="radio" data-id={{grade1.id}} name="{{grade1.id}}-show" value="True" {% if grade1.show %}checked="true"{% endif %} /> 显示
                </label>
                <label class="radio-inline">
                    <input type="radio" data-id={{grade1.id}} name="{{grade1.id}}-show" value="False" {% if not grade1.show %}checked="true"{% endif %} /> 隐藏
                </label>
            </div>
            <div class="col-md-4">
                <label>显示权重</label>
                <input type="text" data-id={{grade1.id}} name="{{grade1.id}}-order" value="{{grade1.order}}" />
            </div>
        </div><!-- grade1 form-group -->
        {% for grade2 in grade1.subCategories %}
        <div class="col-md-offset-1">
            <div class="form-group">
                <div class="col-md-2"><label>{{grade2.name}}</label></div>
                <div class="col-md-2">
                    <label class="radio-inline">
                        <input type="radio" data-id={{grade2.id}} name="{{grade2.id}}-show" value="True" {% if grade2.show %}checked="true"{% endif %}> 显示
                    </label>
                    <label class="radio-inline">
                        <input type="radio" data-id={{grade2.id}} name="{{grade2.id}}-show" value="False" {% if not grade2.show %}checked="true"{% endif %}> 隐藏
                    </label>
                </div>
                <div class="col-md-4">
                    <label>显示权重</label>
                    <input type="text" data-id={{grade2.id}} name="{{grade2.id}}-order" value="{{grade2.order}}"/>
                </div>
            </div> <!-- grade2 form-group -->
            {% for grade3 in grade2.subCategories %}
            <div class="col-md-offset-1">
                <div class="form-group">
                    <div class="col-md-2"><label>{{grade3.name}}</label></div>
                    <div class="col-md-2">
                        <label class="radio-inline">
                            <input type="radio" data-id={{grade3.id}} name="{{grade3.id}}-show" value="True" {% if grade3.show %}checked="true"{% endif %}> 显示
                        </label>
                        <label class="radio-inline">
                            <input type="radio" data-id={{grade3.id}} name="{{grade3.id}}-show" value="False" {% if not grade3.show %}checked="true"{% endif %}> 隐藏
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label>显示权重</label>
                        <input type="text" data-id={{grade3.id}} name="{{grade3.id}}-order" value="{{grade3.order}}"/>
                    </div>
                </div> <!-- grade3 form-group -->
            </div> <!-- grade3 col-offset -->
            {% endfor %}
        </div> <!-- grade2 col-offset -->
        {% endfor %}
    </div> <!-- grade1 col-offset -->
    {% endfor %}
    <div class="col-md-offset-4">
        <button id="submit" class="btn btn-primary">更新</button>
    </div>
</form>
{% endif %}
{% endblock %}

{% block js %}
<script src="{% static 'js/js.cookie.js' %}"></script>
<script src="{% static 'js/admin/appadmin/productcategory.js' %}"></script>
{% endblock %}
