{% extends "admin/base.html" %}
{% load static %}

{% block withnavbody %}
<div class="container-fluid">
    <div class="center-block">
        <div class="col-md-offset-4">
            <h3>修改商城首页轮播图</h3>
        </div>
        <hr/>
        <form class="form form-horizontal" id="carouselForm" v-on:submit.prevent="updateCarousel">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-offset-4 text-danger" v-html="errMsg"></label>
            </div>
            <input type="hidden" name="id" id="id" value="{{carousel.id}}" />
            <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                    <label class="pull-right">标题</label></div>
                <div class="col-md-4">
                    <input type="hidden" id="title" value="{{carousel.title}}"/>
                    <input v-model="carousel.title" type="text" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                    <label class="pull-right">是否显示</label>
                </div>
                <div class="col-md-6">
                    <input type="hidden" value="{{carousel.show}}" id="show"/>
                    <label class="col-md-2">
                        <input v-model="carousel.show" type="radio" name="show" value="True" /> 是
                    </label>
                    <label class="col-md-2">
                        <input v-model="carousel.show" type="radio" name="show" value="False" /> 否
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                    <label class="pull-right">显示权重</label>
                </div>
                <div class="col-md-2">
                    <input type="hidden" value="{{carousel.order}}" id="order"/>
                    <input v-model="carousel.order" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    <span class="label label-info">权重越大，显示越前</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                    <label class="pull-right">轮播图片</label>
                </div>
                <div class="col-md-2">
                    <input type="hidden" id="oldImgUrl" value="{{carousel.imgUrl}}"/>
                    <input v-on:change="updateImg" type="file" id="img" />
                </div>
                <img v-bind:src="carousel.imgUrl" class="col-md-2" height="100" />
            </div>
            <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                    <label class="pull-right">点击链接地址</label>
                </div>
                <div class="col-md-2">
                    <input type="hidden" id="linkUrl" value="{{carousel.linkUrl}}"/>
                    <input v-model="carousel.linkUrl" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5">
                    <button type="submit" class="btn btn-primary">修改</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/admin/appadmin/updatecarousel.js' %}"></script>
{% endblock %}

