.nav-wrapper{
    width: 100%;
    background-color: #f9f9f9;
    border-bottom: 1px solid #f2f2f2;
    height: 1.7rem;
    line-height: 1.7rem;
    position: relative;
}
.nav-content{
    color: #666;
    width: 60rem;
    margin: 0 auto;
    background-color: #f9f9f9;
    height: 1.7rem;
    font-size:.6rem;
}
.nav-content a{
    text-decoration: none;
    margin-right: 5px;
    color: #666;
}
.nav-welcome{
    padding: 5px 0 0 10px;
    height: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    float: left;
}
.nav-operation{
    float: right;
    padding-top: 2px;
}
.operation-item{
    float: left;
    position: relative;
    height: 1.1rem;
    line-height: 1.1rem;
    padding: .2rem .5rem 0 .5rem;
}
.dropdown-menu{
    font-size: .6rem;
    min-width: 0;
    padding: 5px;
}
.goods-number{
    color:#ff2832;
}
.logo-wrapper{
    max-width: 60rem;
    margin: 0 auto;
}
.search-bar{
    margin: 0 auto;
    height: 4.5rem;
    padding: 1.5rem 3.5rem 0 14rem;
}
.search-bar form{
    border: 2px solid #F03726;
    max-width: 33.5rem;
}
.search-bar input{
    height: 2.3rem;
}
#search-text{
    width: 80%;
    border: 0;
    padding-left: .5rem;
}
#search-btn{
    font-size: .9rem;
    height: 2.3rem;
    width: 20%;
    border: none;
    float: right;
    background: #F03726;
    color: #F5F5F2;
    cursor: pointer;
}