.go-top{
    display: block;
    width: 2.1rem;
    height: 2.1rem;
    font-size: 1.8rem;
    position: fixed;
    bottom: 4rem;
    right: 1.5rem;
    line-height: 0.95;
    z-index: 30;
    background-color: #e2e7eb;
    color: #fff;
    padding-top: .1rem;
}
.banner{
    position: absolute;
    left: 0;
    top: 9rem;
    border-top: 2px solid #d2364c;
    width: 100%;
    height:21.5rem;
    overflow: hidden;
}
.carousel-inner img{
    width:100%
}
.shop-nav{
    padding-top: .5rem;
    padding-bottom: 5px;
}
.slideall{
    max-width: 60rem;
    margin: 0 auto;
    height: 24rem;
    padding-top: 2.3rem;
    position: relative;
}
.long-title{
    width: 9rem;
    background: #d2364c;
    color: #fff;
    font-size: .8rem;
    height: 2.3rem;
    line-height: 2.2rem;
    position: absolute;
    text-align: center;
    top: 0;
}
.activity-nav{
    padding-left: 9rem;
    position: absolute;
    width: 100%;
    top: 0;
}
.activity-nav li{
    float: left;
    height: 2.2rem;
    line-height: 2.2rem;
}
.activity-nav li:before{
    content: '\20';
    display: inline-block;
    height: .8rem;
    border-right: 1px solid #d9d9d9;
    width: 0;
    vertical-align: middle;
}
.activity-nav li a{
    font-size: .8rem;
    color: #333;
    margin-left: -1px;
    padding: 0 1.5rem;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
.category-content{
    width: 9rem;
    float: left;
}
.category-item{
    margin-top: 0;
    height: 2.2rem;
    color:#fff;
    background-color: #2b2b2b;
    border-top: 1px solid #333;
    border-bottom: 1px solid #252525;
}
.category-info{
    width: 9rem;
    overflow: hidden;
    position: relative;
    height: 100%;
}
.category-name{
    text-align: center;
    line-height: 1.8rem;
    padding-top: 3px;
    overflow: hidden;
    position: relative;
    font-size: .7rem;
    margin: 0;
}
.category-info em{
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: .6rem;
    height: .6rem;
    color: #9b9b9b;
}
.menu-in{
    display: none;
    position: absolute;
    top: 2.3rem;
    left: 9rem;
    width: 38.5rem;
    background: #fff;
    border: 1px solid #333;
    border-left: 0;
}
.menu{
    position: relative;
    padding: 1rem 1.5rem;
    width: 100%;
    overflow: hidden;
}
.category-class{
    float: left;
    width: 50%;
}
.category-class dt{
    margin: .3rem 0;
    font-size: .7rem;
    font-weight: bold;
    color: rgb(219, 62, 84);
    text-align: left;
}
.category-class dd{
    float: left;
    margin: .1rem .3rem .2rem 0;
}
.category-class dd a{
    float: left;
    letter-spacing: 0.5px;
    color: rgb(136, 136, 136);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: .2rem .5rem;
    border: 1px solid rgb(230, 230, 230);
}
.hover{
    background-color: #fff;
    color: rgb(136, 136, 136);
}
.shop-main-bg{
    width: 100%;
    overflow: visible;
}
.shop-main{
    margin: 0 2rem;
}
.activity{
    position: relative;
    padding-left: 0;
    padding-right: 0;
    max-width: 60rem;
    min-height: 9rem;
}
.shop-title{
    margin-top: .5rem;
    text-align: left;
    position: relative;
    border-bottom: 2px solid #000;
    width: 100%;
    overflow: hidden;
}
.shop-sub-title{
    float: left;
    border: none;
    margin: .3rem 0px;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 1.2rem;
}
.shop-title h4{
    font-size: .7rem;
    color: #999;
    float: left;
    margin-left: .8rem;
    margin-top: .6rem;
    line-height: .9rem;
    margin-bottom: .2rem;
}
.more{
    display: block;
    position: absolute;
    right: 0px;
    top: .5rem;
    font-size: .7rem;
    overflow: hidden;
}
.more-link{
    color: #FFF;
    background: #F72862;
    display: block;
    line-height: 1rem;
    padding: 0px .5rem;
    border-radius: .5rem;
    font-size: .7rem;
    text-decoration: none;
    outline: none;
}
.icon-sale{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5rem solid #0087e5;
    border-right: 5rem solid transparent;
}
.activity .col-md-3 h4{
    position: absolute;
    color: #fff;
    top: .5rem;
    left: 1.5rem;
    font-size: .8rem;
}
.icon-sale.one{
    border-top-color: #9b0d5f;
}
.icon-sale.two{
    border-top-color: #b48c66;
}
.icon-sale.three{
    border-top-color: #7fb113;
}
.icon.last{
    border-top-color: #F72862;
}
.activity-main img{
    width: 100%;
}
.activity-info{
    bottom: 1rem;
    text-align: center;
    position: absolute;
    left: 10%;
    width: 80%;
    background: #eee;
    padding: .2rem;
}
.activity-info h3{
    font-size: .7rem;
    margin:0;
}
.tabs{
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-radius: .2rem .2rem 0 0;
    position: relative;
    padding: 2rem 2.5rem;
}
.nav-tabs{
    margin-bottom: .8rem;
}
.nav-tabs>li{
    float: right;
}
.nav-tabs>li>a{
    color: #646464;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #525252;
    font-weight: bold;
}
.commodity-content{
    max-width: 60rem;
    border: 1px solid #eee;
    border-top: none;
    margin: 0 auto;
    width: 100%;
}
.commodity-name-price{
    text-align: center;
    top: 7%;
    position: absolute;
    width: 100%;
}
.commodity-name{
    line-height: 1.1rem;
    color: #000;
    font-size: .7rem;
    font-weight: bold;
}
.commodity-price{
    font-size: .6rem;
    color: #666;
}
.commodity-content a img{
    width: 100%;
    margin-top: 50%;
}
.commodity-row-two{
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    position: relative;
}
.commodity-row-two .commodity-name-price{
    top: 7%;
    left: 2%;
    width: 30%;
}
.commodity-row-two a img{
    width: 50%;
    margin: 3% 3% 8% 45%
}
.commodity-quarter-two{
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    text-align: center;
}
.commodity-quarter-two .commodity-name-price{
    right: 2%;
    top: 7%;
}
.commodity-quarter-two a img{
    width: 70%;
    margin: 38% 2% 3% 2%;
}
.commodity-content .col-md-3,.commodity-content .col-md-4,.commodity-content .col-md-5{
    padding-left: 0;
    padding-right: 0;
}






