.order-wrapper{
    overflow: hidden;
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
}
.address h3,.order h3{
    font-size: .7rem;
    font-weight: bold;
    float: left;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.address button{
    margin: .5rem 0 .5rem 1rem;
}
.address ul{
    margin-top: .5rem;
}
.user-addresslist{
    display: block;
    width: 12.5rem;
    height: 7.5rem;
    float: left;
    background: url(../../images/app/peraddbg.png) no-repeat scroll 0% 0%;
    margin-right: .5rem;
    padding: .5rem;
    position: relative;
}
.address-selected{
    background: url(../../images/app/peraddbg-checked.png) no-repeat scroll 0% 0%;
}
.address-text{
    width: 100%;
    position: relative;
}
.user{
    font-size: .7rem;
    font-weight: 700;
}
.deftip{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .1rem;
    text-decoration: none;
    opacity: 0.7;
    background: #CCC none repeat scroll 0% 0%;
    color: #FFF;
}
.addr-option{
    position: absolute;
    bottom: 1.2rem;
    right: .5rem;
    font-size: .6rem;
    color: #282828;
    text-align: right;
    padding-right: .3rem;
}
.addr-option a{
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.option-bar{
    padding: 0 .2rem;
    vertical-align: top;
}
.address-detail{
    margin-top: .3rem;
}
.table-header{
    height: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    color: #333;
    padding: 0 .5rem;
    background: #F5F5F5;
    overflow: hidden;
    border: #F5F5F5 .1rem solid;
}
.table-header li{
    float: left;
}
.table-content{
    height: 5rem;
    line-height: 5rem;
    width: 100%;
}
.order p{
    margin: 0;
}
.order-table ul{
    border: 1px solid #f5f5f5;
    border-bottom: 0;
}
.order-table ul:last-child{
    border-bottom: 1px solid #f5f5f5;
}
.order-other input{
    width: 20rem;
    height: 1rem;
    font-size: .4rem;
    padding-left: .3rem;
    border: 1px solid #eee;
}
.total-price{
    font-size: .7rem;
    font-weight: bold;
    padding: .5rem 0;
    text-align: right;
}
.pay-confirm{
    float: right;
    margin: .5rem 0;
    border: 2px solid #f40;
    width: auto;
    height: auto;
    padding: .5rem;
    font-size: .7rem;
    line-height: 1.4rem;
}
.pay-confirm p{
    margin: .5rem 0;
}
.pay-sum{
    color: #ff6400;
    font-weight: bold;
}
.submit-order{
    position: relative;
    margin-bottom: 3rem;
}
.submit-btn{
    display: block;
    height: 1.8rem;
    width: auto;
    line-height: 1.8rem;
    font-size: .9rem;
    padding: 0 1.3rem;
    background-color: #f50;
    color: #fff;
    text-align: center;
    cursor: pointer;
    outline: 0;
}
.submit-btn:hover{
    background-color: #f40;
    color: #fff;
    text-decoration: none;
}
.back-to-shopcart{
    cursor: pointer;
    position: absolute;
    top: .5rem;
    right: 9rem;
}
.back-to-shopcart:hover{
    color: #337ab7;
    text-decoration: none;
}