.search{
    padding-top: .5rem;
}
.search-list{
    max-width: 60rem;
    margin: 0 auto;
    position: relative;
}
.nav-table{
    max-width: 60rem;
    margin: 0 auto;
    height: 2.2rem;
    position: relative;
    overflow: hidden;
}
.long-title{
    background: #F03726;
    color: #fff;
    height: 2.2rem;
    line-height: 2.2rem;
    display: block;
    position: absolute;
    width: 9rem;
    text-align: center;
    font-size: .8rem;
    top: 0;
}
.long-title span{
    font-size: .8rem;
}
.line{
    width: 100%;
    height: .1rem;
    border-bottom: .1rem solid #F03726;
    position: absolute;
    top: 8.9rem;
}