{% extends "base.html" %}

{% load static %}
{% block title %}我的收藏{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/aside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/collection.css' %}">
{% endblock %}
{% block body %}
    {% include "app/header.html" %}
    <div class="content center-block">
        <div class="col-main">
            <div class="main-wrap">
                <div class="info" style="float:left">
                    <!--标题-->
                    <div class="info-head">
                        <p>
                            <span class="head-text">我的收藏</span>/
                            <span class="for-head-text">my collection</span>
                        </p>
                    </div>
                    <!--收藏列表-->
                    <div class="collection-list">
                        <div class="col-md-3">
                            <div class="commodity">
                                <a class="commodity-detail" href="#">
                                    <img src="{% static 'images/app/search-img.jpg' %}">
                                    <p class="price">¥56.90</p>
                                    <p class="title">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                                    <p class="sale">
                                        <span class="sale-volume">销量1110</span>
                                        <span class="evaluate">好评95%</span>
                                    </p>
                                    <a class="add-to-shopcart" href="#">加入购物车</a>
                                    <span class="off-shelf">已下架</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="commodity">
                                <a class="commodity-detail" href="#">
                                    <img src="{% static 'images/app/search-img.jpg' %}">
                                    <p class="price">¥56.90</p>
                                    <p class="title">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                                    <p class="sale">
                                        <span class="sale-volume">销量1110</span>
                                        <span class="evaluate">好评95%</span>
                                    </p>
                                    <a class="add-to-shopcart" href="#">加入购物车</a>
                                    <span class="off-shelf hidden">已下架</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="commodity">
                                <a class="commodity-detail" href="#">
                                    <img src="{% static 'images/app/search-img.jpg' %}">
                                    <p class="price">¥56.90</p>
                                    <p class="title">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                                    <p class="sale">
                                        <span class="sale-volume">销量1110</span>
                                        <span class="evaluate">好评95%</span>
                                    </p>
                                    <a class="add-to-shopcart" href="#">加入购物车</a>
                                    <span class="off-shelf hidden">已下架</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="commodity">
                                <a class="commodity-detail" href="#">
                                    <img src="{% static 'images/app/search-img.jpg' %}">
                                    <p class="price">¥56.90</p>
                                    <p class="title">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
                                    <p class="sale">
                                        <span class="sale-volume">销量1110</span>
                                        <span class="evaluate">好评95%</span>
                                    </p>
                                    <a class="add-to-shopcart" href="#">加入购物车</a>
                                    <span class="off-shelf hidden">已下架</span>
                                </a>
                            </div>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination" style="margin-right: .6rem;float: right;">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    {% include "customer/aside.html" %}
    </div>
{% endblock %}

{% block js %}

{% endblock %}