{% extends "base.html" %}

{% load static %}
{% block title %}订单评价{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/aside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/evaluate.css' %}">
{% endblock %}
{% block body %}
    {% include "app/header.html" %}
    <div class="content center-block">
        <div class="col-main">
            <div class="main-wrap">
                <div class="info">
                    <!--标题-->
                    <div class="info-head">
                        <p>
                            <span class="head-text">评价管理</span>/
                            <span class="for-head-text">evaluate management</span>
                        </p>
                    </div>
                    <!--评价列表-->
                    <div class="evaluate-list">
                        <div class="evaluate-table">
                            <ul class="table-header">
                                <li class="text-center col-md-5">商品</li>
                                <li class="text-center col-md-2">评价时间</li>
                                <li class="text-center col-md-5">评价内容</li>
                            </ul>
                            <ul class="table-content">
                                <li class="col-md-5">
                                    <div class="col-md-3 commodity-pic">
                                        <img src="{% static "images/app/kouhong.jpg" %}" alt="商品图片">
                                    </div>
                                    <ul class="col-md-9 commodity-detail">
                                        <li class="commodity-name">美康粉黛醉美唇膏 持久保湿滋润防水不掉色</li>
                                        <li class="commodity-attribute">颜色：啫喱红</li>
                                    </ul>
                                </li>
                                <li class="col-md-2 text-center evaluate-time">2017-3-25 20:00</li>
                                <li class="col-md-5 evaluate-text">宝贝非常漂亮，超级喜欢！！！ 口红颜色很正呐，还有第两支半价，买三支免单一支的活动，下次还要来买。就是物流太慢了，还要我自己去取快递，店家不考虑换个物流么？</li>
                            </ul>
                            <ul class="table-content">
                                <li class="col-md-5">
                                    <div class="col-md-3 commodity-pic">
                                        <img src="{% static "images/app/kouhong.jpg" %}" alt="商品图片">
                                    </div>
                                    <ul class="col-md-9 commodity-detail">
                                        <li class="commodity-name">美康粉黛醉美唇膏 持久保湿滋润防水不掉色</li>
                                        <li class="commodity-attribute">颜色：啫喱红</li>
                                    </ul>
                                </li>
                                <li class="col-md-2 text-center evaluate-time">2017-3-25 20:00</li>
                                <li class="col-md-5 evaluate-text">宝贝非常漂亮，超级喜欢！！！ 口红颜色很正呐，还有第两支半价，买三支免单一支的活动，下次还要来买。就是物流太慢了，还要我自己去取快递，店家不考虑换个物流么？</li>
                            </ul>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include "customer/aside.html" %}
    </div>
{% endblock %}

{% block js %}

{% endblock %}