{% extends "base.html" %}

{% load static %}
{% block title %}意见反馈{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/aside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/consult.css' %}">
{% endblock %}
{% block body %}
    {% include "app/header.html" %}
    <div class="content center-block">
        <div class="col-main">
            <div class="main-wrap">
                <div class="info">
                    <!--标题-->
                    <div class="info-head">
                        <p>
                            <span class="head-text">意见反馈</span>/
                            <span class="for-head-text">suggest</span>
                        </p>
                    </div>
                    <!--意见内容-->
                    <div class="content">
                        <form role="form">
                            <div class="form-group">
                                <label class="classify-text" for="classify">请留下您的宝贵意见：</label>
                                <select id="classify" class="form-control" style="margin-left: 6.5rem">
                                    <option value="0">请选择意见的类型</option>
                                    <option value="1">产品意见</option>
                                    <option value="2">促销意见</option>
                                    <option value="3">支付意见</option>
                                    <option value="4">退款意见</option>
                                    <option value="5">售后意见</option>
                                    <option value="6">退换货意见</option>
                                    <option value="7">其他意见</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="description-text" for="description">意见内容描述：</label>
                                <textarea id="description" class="form-control" style="margin-left: 6.5rem" rows="5" placeholder="在此描述您的意见的具体内容"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn submit-btn" style="margin-left: 6.5rem" data-toggle="modal" data-target="#submitModal">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% include "customer/aside.html" %}
    </div>
    <!--提交模态框-->
    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">系统提示</h4>
                </div>
                <div class="modal-body">
                    意见提交成功，等待商家处理
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}