{% extends "admin/base.html" %}
{% load static %}

{% block withnavbody %}
<a class="btn btn-primary" href="{% url 'admin:productAdminAddCategory' %}">添加新商品类别</a>
<hr/>
<div id="categoryContainer">
    {% csrf_token %}
    {% for category in categories %}
    <div class="col-md-offset-{{category.grade}}" style="margin-bottom:1rem">
        <strong>{{category.name}} </strong>{% if category.show %}<span class="label label-success">显示</span>{% else %}<span class="label label-danger">不显示</span>{% endif %}（权重 <span class="badge">{{category.order}}</span>）
        <div class="btn-group">
            <a class="btn btn-info btn-xs" href="/admin/productadmin/updateCategory?id={{category.id}}">修改</a>
            <a class="btn btn-danger btn-xs" v-on:click="deleteCategory({{category.id}})">删除</a>
            <a class="btn btn-primary btn-xs" href="/admin/productadmin/addCategory?parentId={{category.id}}">添加子类别</a>
            <a class="btn btn-default btn-xs" href="/admin/productadmin/property?id={{category.id}}">属性管理</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/js.cookie.js' %}"></script>
<script>
    var csrfToken = Cookies.get("csrftoken");
    var v = new Vue({
        el:"#categoryContainer",
        methods:{
            deleteCategory:function(id){
                this.$http.post("/admin/productadmin/deleteCategory",{"id":id},{"headers":{"X-CSRFToken":csrfToken}})
                          .then(success=>{
                            if(success.body.code == 200){
                                alert(success.body.msg);
                                window.location.href="/admin/productadmin/category";
                            }else{
                                alert(success.body.msg);
                            }
                          },error=>{
                            console.log(error.body);
                          });
            },
        },
    });
</script>
{% endblock %}