{% extends 'admin/base.html' %}
{% load static %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/admin/index.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/admin/productionadmin/property.css' %}"/>
{% endblock %}

{% csrf_token %}

{% block withnavbody %}
    <ul class="category-info">
        <li class="category-name">
            <h2>所属种类：<span>{{parentCategory.name}} / {{category.name}}</span></h2>
        </li>
        <li class="add-property" style="float: right">
            <a class="btn btn-primary" data-id="{{category.id}}" data-toggle="modal" data-target="#addModal">新增属性</a>
        </li>
    </ul>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>属性id</th>
        <th>属性名称</th>
        <th>创建时间</th>
        <th>所属种类</th>
        <th>操作</th>
    </tr>
    {% for metaProperty in metaProperties %}
    <tr>
        <td>{{ metaProperty.id }}</td>
        <td>{{ metaProperty.name }}</td>
        <td>{{ metaProperty.addTime }}</td>
        <td>{{ category.name }}</td>
        <td>
            <div class="btn-group">
                <a class="btn btn-info btn-xs update" data-id="{{ metaProperty.id }}" data-target="#modifyModal">修改</a>
                <a class="btn btn-danger btn-xs delete"  data-id="{{ metaProperty.id }}" data-target="#deleteModal">删除</a>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
<!--新增属性模态框-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加属性</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">属性名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="saveName" placeholder="属性名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category" class="col-sm-2 control-label">种类</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="category" disabled="disabled" value="{{category.name}}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="saveId" value="{{category.id}}">
                <button type="button" class="btn btn-primary" id="saveAdd">添加</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!--修改属性模态框-->
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改属性</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">属性名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="updateName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category" class="col-sm-2 control-label">种类</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="category" disabled="disabled" value="{{category.name}}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="updateId" value=""/>
                <button type="button" class="btn btn-primary" id="saveUpdate">保存修改</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!--删除属性模态框-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">系统提示</h4>
            </div>
            <div class="modal-body">
                删除属性成功！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/js.cookie.js' %}"></script>
<script>
    $(function(){
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", Cookies.get("csrftoken"));
                }
            }
        });

        $("#saveAdd").on("click",function(){
            $.post(
                "/admin/productadmin/addProperty",
                {"categoryId":$("#saveId").val(),"name":$("#saveName").val()},
                function(result){
                    if(result.code == 200){
                        location.reload(true);
                    }
                }
            );
            return false;
        });

        $(".update").on("click",function(){
            let id=$(this).data("id");
            $("#updateId").val(id);
            $("#modifyModal").modal("toggle");
        });
        $("#saveUpdate").on("click",function(){
            $.post(
                "/admin/productadmin/updateProperty",
                {"id":$("#updateId").val(),"name":$("#updateName").val()},
                function(result){
                    if(result.code == 200){
                        location.reload(true);
                    }
                }
            );
            return false;
        });

        $(".delete").on("click",function(){
            let id=$(this).data("id");
            $.get(
                "/admin/productadmin/deleteProperty?id="+id,
                function(result){
                    if(result.code == 200){
                        $("#deleteModal").modal("toggle");
                        setTimeout(function(){location.reload(true);},2000);
                    }
                }
            );
        });
    });
</script>
{% endblock %}