.content{
    max-width: 60rem;
    margin-top: .8rem;
}
.col-main{
    padding-top: .5rem;
    float: left;
    width: 100%;
    padding-bottom: 0;
}
.main-wrap{
    position: relative;
    margin-left: 9rem;
    overflow: hidden;
    min-height: 38.6rem;
}
.menu{
    position: absolute;
    width: 8rem;
    display: block;
    float: left;
    margin-top: .5rem;
    background-color: #fff;
    border: 1px solid #eee;
}
.menu ul{
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 0 .4rem;
    font-size: .7rem;
}
.menu-item{
    border-bottom: 1px solid #eee;
    padding-bottom: .5rem;
    padding-top: .5rem;
}
.menu-item:first-child{
    border-bottom: 3px solid #fd6d37;
    position: relative;
}
.menu-item:last-child{
    border: none;
}
.menu-item a{
    display: block;
    overflow: hidden;
    text-decoration: none;
    font-size: .7rem;
    line-height: 1.4rem;
    color: #000;
    height: 1.4rem;
}
.menu-item:first-child a{
    font-size: .8rem;
    line-height: 1.6rem;
    font-weight: 700;
    color: #fd6d37;
}
.menu-item:first-child a span{
    position: absolute;
    left: .5rem;
    top: .9rem;
    font-size: .8rem;
}
.menu-item p{
    position: relative;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: .7rem;
}
.menu-item p span{
    position: absolute;
    left: .4rem;
    top: .3rem;
    font-size: .7rem;
    color: #fd6d37;
    width: 1.4rem;
}
.menu-item ul{
    padding-left: .3rem;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
    font-size: .6rem;
}
.menu-item ul li a{
    color: #999;
    font-size: .6rem;
}