.commodity{
    margin: .5rem 0;
    border: 1px #e8e8e8 solid;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.commodity-detail{
    color: #333;
    text-decoration: none;
}
.commodity-detail:hover{
    color: #333;
    text-decoration: none;
}
.commodity img{
    width: 100%;
}
.price{
    color: #e4393c;
    font-weight: 500;
    font-size: .9rem;
    padding: .4rem;
    margin: 0;
}
.title{
    padding: 0 .2rem;
    margin-bottom: 0;
}
.sale{
    padding: .6rem .4rem;
    margin: 0;
}
.evaluate {
    float: right;
    color: #9c9c9c;
}
.collection-list .col-md-3{
    padding: .6rem;
}
.add-to-shopcart{
    display: inline-block;
    position: absolute;
    bottom: 6.5rem;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #fff;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: .7rem;
    text-decoration: none;
}
.add-to-shopcart:hover{
    color: #fff;
    text-decoration: none;
}
.off-shelf{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -1.2rem;
    margin-top: -3.5rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding-top: .7rem;
}