.user-info{
    width: 100%;
    position: relative;
    height: 8.4rem;
    background: url("../../images/customer/user_message_bg.png") no-repeat;
}
.file-pic{
    width: 5rem;
    float: left;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    position: relative;
    text-align: center;
}
.input-pic{
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.user-pic{
    padding: 0;
    margin: .1rem;
    display: inline-block;
    max-width: 100%;
    height: auto;
    line-height: 1.6;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}
.user-name{
    line-height: 1.2rem;
    position: absolute;
    left: 8rem;
    top: 3.5rem;
    margin-left: 6rem;
    font-size: .8rem;
    color: #666;
}
.user-info ul{
    line-height: 1.5rem;
    position: absolute;
    right: 6rem;
    top: 2.5rem;
    margin-left: 6rem;
    font-size: .8rem;
    color: #666;
}
.user-info ul li span{
    margin-right: 1rem;
}
.order-info{
    margin-bottom: .8rem;
    margin-top: .8rem;
    border: 1px solid #eee;
}
.info-bar{
    font-size: .8rem;
    position: relative;
    padding: .6rem 0 .4rem;
    margin: 0 1rem;
}
.all-order{
    position: absolute;
    right: 0;
    top: .5rem;
    height: 1rem;
    font-size: .7rem;
    color: #666;
    line-height: 1rem;
}
.all-order:hover{
    text-decoration: none;
}
.order-content-box{
    position: relative;
    overflow: hidden;
    border-top: 1px solid #e7e7e7;
    margin: 0 1rem 1rem;
}
.order-content{
    width: 85%;
    margin-top: 1rem;
}
.order-content-pic{
    width: 24%;
    padding: .2rem;
    float: left;
}
.img-box{
    float: left;
    width: 3.6rem;
    height: 3.6rem;
    padding-top: .3rem;
    background: url(../../images/customer/img-box.png);
}
.img-box img{
    width: 3.6rem;
    height: 3.6rem;
    display: block;
    margin: 0 auto;
    border: #e4e3e3 1px solid;
}
.detail-content{
    width: 40%;
    float: left;
    height: 4.2rem;
    line-height: 4.2rem;
}
.delivery{
    margin-bottom: .5rem;
    color: #ff3c3c;
    border-left: #fd6d37 .1rem solid;
    padding-left: .2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.delivery:hover{
    color: #ff3c3c;
    text-decoration: none;
}
.detail-content li{
    float:left;
    color: #666;
    margin-bottom: .3rem;
}
.split-bar{
    color: #e7e7e7;
    margin: 0 .2rem;
}
.evaluate{
    color: #fd6d37;
    font-weight: 600;
    width: 18%;
    float: left;
    height: 4.2rem;
    line-height: 4.2rem;
}
.price{
    font-size: 1rem;
    color: #666;
    width: 18%;
    float: left;
    height: 4.2rem;
    line-height: 4.2rem;
}
.buy-btn{
    width: 15%;
    position: absolute;
    right: .5rem;
    top: 1.8rem;
    height: 2rem;
    line-height: 2rem;
    border: 1px solid #fd6d37;
    color: #fd6d37;
    text-align: center;
}
.buy-btn:hover,.buy-btn:active{
    color: #fd6d37;
    text-decoration: none;
}
.collection-info{
    margin-bottom: 2rem;
    margin-top: .8rem;
    border: 1px solid #eee;
    position: relative;
}
.collection-head{
    color: #fd6d37;
    font-size: .8rem;
    margin: 1rem 0;
}
.collection-list{
    width: 100%;
    height: 15rem;
    text-align: center;
}
.collection-list>li{
    padding: 0;
}
.collection-list>li img{
    width: 100%;
}
.list-item{
    margin: 0 .8rem;
}
.list-item:first-child{
    margin-left: 1.2rem;
}
.goods-price{
    margin-top: .2rem;
    font-size: .8rem;
    color: #fd6d37;
    font-weight: bold;
}
.goods-name{
    color: #666;
}
.collection-nav{
    position: absolute;
    right: 1.8rem;
    bottom: .1rem;
}
.collection-nav ul li a{
    color: #666;
}
.no-collection,.no-order{
    width: 100%;
    height: 11rem;
    background: url(../../images/customer/monkey.jpg) no-repeat 50% 20%;
}
.no-collection-text,.no-order-text{
    text-align: center;
    color: #969696;
    padding: 9rem;
}
.no-collection-text a{
    color: red;
    text-decoration: none;
}
.all-collection{
    font-size: .7rem;
    color: #333;
    float: right;
    margin-right: 1rem;
}
.delivery-num{
    margin-left: 4rem;
}

