.user-info{
    width: 100%;
    position: relative;
    border: 1px solid #eee;
}
.user-info-pic{
    position: relative;
    margin: 1rem 5% 2.5rem;
    height: 6.5rem;
    border-bottom: 1px solid #eee;
}
.file-pic{
    width: 5rem;
    float: left;
    margin-left: 2rem;
    margin-top: 1rem;
    position: relative;
    text-align: center;
}
.input-pic{
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.user-pic{
    padding: 0;
    margin: .1rem;
    display: inline-block;
    max-width: 100%;
    height: auto;
    line-height: 1.6;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}
.user-detail{
    float: left;
    overflow: hidden;
    line-height: 1.2rem;
    position: absolute;
    left: 3rem;
    top: 2.5rem;
    margin-left: 6rem;
    font-size: .8rem;
    color: #666;
}
.user-detail>span{
    margin-left: 1rem;
}
.info-head{
    margin: 1rem 0;
    padding: 0 .5rem;
    border-bottom: 1px solid #eee;
}
.personal-text{
    color: #000;
    font-size: .9rem;
}
.for-personal-text{
    color: #000;
    font-size: .7rem;
}
.form-group{
    margin-bottom: 1.5rem;
}