.table{
    position: relative;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 3.5rem;
}
.table>ul{
    border-top: 1px solid #f5f5f5;
}
.table-header{
    height: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    color: #333;
    padding: 0 .5rem;
    background: #F5F5F5;
    overflow: hidden;
    border: #F5F5F5 .1rem solid;
}
.table-content{
    height: 5rem;
    width: 100%;
    padding: .5rem;
}
.consult-time,.reply-time,.opinion-time,.question-type,.opinion-type{
    line-height: 4rem;
}
.question-detail,.opinion-detail,.reply-content{
    overflow: hidden;
    padding-top: 1rem;
}
.table nav{
    position: absolute;
    bottom: -3.9rem;
    right: .5rem;
}
.table-header{
    margin-top: 1.2rem;
}