.commodity-pic{
    padding: 0;
}
.commodity-pic img{
    width: 100%;
}
.commodity-name{
    font-weight: bold;
    font-size: .7rem;
    margin-top: .2rem;
}
.commodity-attribute{
    margin-top: .4rem;
}
.refund-order{
    position: relative;
}
.order-detail{
    position: absolute;
    top: 4.2rem;
    left: 1.5rem;
}
.order-detail li{
    line-height: 1.4rem;
}
.order-detail li span{
    margin-left: .5rem;
}