{% extends "base.html" %}

{% load static %}
{% block title %}我的消息{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/aside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/message.css' %}">
{% endblock %}
{% block body %}
    {% include "app/header.html" %}
    <div class="content center-block">
        <div class="col-main">
            <div class="main-wrap">
                <div class="info">
                    <!--标题-->
                    <div class="info-head">
                        <p>
                            <span class="head-text">我的消息</span>/
                            <span class="for-head-text">my message</span>
                        </p>
                    </div>
                    <!--信息内容-->
                    <div class="message-content">
                        <!--信息导航-->
                        <ul id="myTabs" class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation"><a href="{% url 'customer:suggestionMessage' %}">意见反馈</a></li>
                            <li role="presentation" class="active"><a href="{% url 'customer:refundMessage' %}">退款反馈</a></li>
                    </ul>
                        <div id="myTabContent" class="tab-content">
                            <!--退款反馈-->
                            <div role="tabpanel" class="tab-pane fade active in" id="refund"
                                 aria-labelledby="refund-tab">
                                <div class="table">
                                    <ul class="table-header">
                                        <li class="text-center col-md-3">退款时间</li>
                                        <li class="text-center col-md-2">退款状态</li>
                                        <li class="text-center col-md-2">退款原因</li>
                                        <li class="text-center col-md-3">商家反馈时间</li>
                                        <li class="text-center col-md-2">反馈内容</li>
                                    </ul>
                                    {% for refund in refunds %}
                                    <ul class="table-content">
                                        <li class="col-md-3 text-center refund-time">{{ refund.refundTime }}</li>
                                        <li class="col-md-2 text-center refund-type">{{ refund.status }}</li>
                                        <li class="col-md-2 refund-detail">{{ refund.refundReason }}</li>
                                        <li class="col-md-3 text-center reply-time">{{ refund.refundDealTime|default_if_none:"" }}</li>
                                        <li class="col-md-2 text-center reply-content">{{ refund.refundDealResult|default_if_none:"" }}</li>
                                    </ul>
                                    {% endfor %}
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            {% if refunds.has_previous %}
                                            <li>
                                                <a href="?page={{refunds.previous_page_number}}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            <li><a href="#">{{ refunds.number }} / {{ refunds.paginator.num_pages }}</a></li>
                                            {% if refunds.has_next %}
                                            <li>
                                                <a href="?page={{refunds.next_page_number}}" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include "customer/aside.html" %}
    </div>
{% endblock %}

{% block js %}

{% endblock %}