{% extends "base.html" %}

{% load static %}
{% block title %}我的消息{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/aside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/message.css' %}">
{% endblock %}
{% block body %}
    {% include "app/header.html" %}
    <div class="content center-block">
        <div class="col-main">
            <div class="main-wrap">
                <div class="info">
                    <!--标题-->
                    <div class="info-head">
                        <p>
                            <span class="head-text">我的消息</span>/
                            <span class="for-head-text">my message</span>
                        </p>
                    </div>
                    <!--信息内容-->
                    <div class="message-content">
                        <!--信息导航-->
                        <ul id="myTabs" class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation"><a href="{% url 'customer:message' %}">商品咨询</a></li>
                        <li role="presentation"><a href="{% url 'customer:suggestionMessage' %}">意见反馈</a></li>
                            <li role="presentation" class="active"><a href="{% url 'customer:refundMessage' %}">退款反馈</a></li>
                    </ul>
                        <div id="myTabContent" class="tab-content">
                            <!--退款反馈-->
                            <div role="tabpanel" class="tab-pane fade active in" id="refund"
                                 aria-labelledby="refund-tab">
                                <div class="table">
                                    <ul class="table-header">
                                        <li class="text-center col-md-2">退款时间</li>
                                        <li class="text-center col-md-2">退款类型</li>
                                        <li class="text-center col-md-3">退款原因</li>
                                        <li class="text-center col-md-2">商家反馈时间</li>
                                        <li class="text-center col-md-3">反馈内容</li>
                                    </ul>
                                    <ul class="table-content">
                                        <li class="col-md-2 text-center refund-time">2017-3-25 20:00</li>
                                        <li class="col-md-2 text-center refund-type">退款/退货</li>
                                        <li class="col-md-3 refund-detail">和说明的不同：我买的是红色的，送过来是紫色的</li>
                                        <li class="col-md-2 text-center reply-time">2017-3-25 21:00</li>
                                        <li class="col-md-3 reply-content">卖家已接受退款，金额已退还到您的账户上，商品请邮寄到<span class="address">广东省 广州市 天河区 华南师范大学</span></li>
                                    </ul>
                                    <ul class="table-content">
                                        <li class="col-md-2 text-center consult-time">2017-3-25 20:00</li>
                                        <li class="col-md-2 text-center question-type">退款</li>
                                        <li class="col-md-3 question-detail">不想要了</li>
                                        <li class="col-md-2 text-center reply-time">2017-3-25 21:00</li>
                                        <li class="col-md-3 reply-content">不接受退款</li>
                                    </ul>
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            <li>
                                                <a href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li>
                                                <a href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include "customer/aside.html" %}
    </div>
{% endblock %}

{% block js %}

{% endblock %}