{% extends 'admin/base.html' %}
{% load static %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/admin/index.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/admin/selleradmin/index.css' %}"/>
{% endblock %}

{% csrf_token %}

{% block withnavbody %}
    <div class="search">
        <h2>共有<span class="buyer-num">{{ amount }}</span>个卖家</h2>
        <form class="search-form" method="get" action="{% url 'admin:sellerAdminIndex' %}">
            <div class="input-group col-md-3">
                <input type="text" name='name' class="form-control" placeholder="请输入卖家名"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-search">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>卖家名</th>
                    <th>卖家注册时间</th>
                    <th>卖家店铺名</th>
                    <th style="min-width: 4rem">状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for seller in sellers %}
                <tr>
                    <td>{{seller.name}}</td>
                    <td>{{seller.registTime}}</td>
                    <td>{{seller.shopName}}</td>
                    <td>{% if seller.lock %}锁定{% else %}正常{% endif %}</td>
                    <td>
                        {% if seller.lock %}
                        <a class="btn btn-default cancel-lock" data-id="{{ seller.id }}" data-target="#cancelModal">取消封号</a>
                        {% else %}
                        <a class="btn btn-danger lock" data-id="{{ seller.id }}" data-target="#confirmModal">封号</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if sellers.has_previous %}
                <li>
                    <a href="?page={{ sellers.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% if sellers.number > 1 %}
                <li><a href="#">{{ sellers.number }} / {{ sellers.paginator.num_pages }}</a></li>
                {% endif %}
                {% if sellers.has_next %}
                <li>
                    <a href="?page={{ sellers.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        </table>
    </div>
    <!--确认封号模态框-->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">系统提示</h4>
                </div>
                <div class="modal-body">确定对卖家zihang进行封号吗？</div>
                <div class="modal-footer">
                    <input class="sid" type="hidden"/>
                    <button type="button" class="btn btn-primary" id="doLock">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--取消封号模态框-->
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">系统提示</h4>
                </div>
                <div class="modal-body">确定对卖家zihang取消封号吗？</div>
                <div class="modal-footer">
                    <input class="sid" type="hidden"/>
                    <button type="button" class="btn btn-primary" id="doCancel">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/js.cookie.js' %}"></script>
<script>
    $(function(){
        $(".cancel-lock").on("click",function(){
            $(".sid").val($(this).data("id"));
            $("#cancelModal").modal("toggle");
        });

        $("#doCancel").on("click",function(){
            $.get(
                "/admin/selleradmin/unlockAccount?id="+$(".sid").val(),
                function(result){
                    alert(result.msg);
                    $("#cancalModal").modal("toggle");
                    setTimeout(function(){location.reload(true);},2000);
                }
            );
        });

        $(".lock").on("click",function(){
            $(".sid").val($(this).data("id"));
            $("#confirmModal").modal("toggle");
        });

        $("#doLock").on("click",function(){
            $.get(
                "/admin/selleradmin/lockAccount?id="+$(".sid").val(),
                function(result){
                    alert(result.msg);
                    $("#confirmModal").modal("toggle");
                    setTimeout(function(){location.reload(true);},2000);
                }
            );
        });
    });
</script>
{% endblock %}