{% extends "base.html" %}

{% load static %}
{% block title %}eshop-easy shopping{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/index.css' %}">
{% endblock %}
{% block body %}
    {% include "app/header.html" %}
    <a href="#top" target="_self" class="go-top text-center"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></a>
    <!--轮播框 -->
    <div class="banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height:100%">
            <ol class="carousel-indicators">
                {% for i in carouselsCount %}
                <li data-target="#carousel-example-generic" data-slide-to="{{i}}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                {% for carousel in carousels %}
                <div class="item {% if forloop.first %}active{% endif %}">
                    <a href="activity.html">
                        <img src="{{ carousel.imgUrl }}" alt="{{ carousel.title }}"/>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- 商品分类导航栏 -->
    <div class="shop-nav">
        <div class="slideall">
            <div class="long-title">全部分类</div>
            <div class="activity-nav">
                <ul>
                    <li><a href="#">秒杀</a></li>
                    <li><a href="#">特惠</a></li>
                    <li><a href="#">团购</a></li>
                    <li><a href="#">超值</a></li>
                </ul>
            </div>

            <!--侧边导航 -->
            <div class="category-content">
                <ul class="category-list">
                    {% for grade1 in categories %}
                    <li class="category-item">
                        <div class="category-info">
                            <h3 class="category-name">{{grade1.name}}</h3>
                            <em>&gt;</em>
                        </div>
                        <div class="menu-in">
                            <div class="menu">
                                {% for grade2 in grade1.subCategories %}
                                <dl class="category-class">
                                    <dt><span title="{{grade2.name}}">{{grade2.name}}</span></dt>
                                    {% for grade3 in grade2.subCategories %}
                                    <dd><a title="{{grade3.name}}" href="#"><span>{{grade3.name}}</span></a></dd>
                                    {% endfor %}
                                </dl>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="shop-main-bg">
        <div class="shop-main">
        <!--热门活动 -->
            <div class="container activity ">
                <div class="shop-title">
                    <h3 class="shop-sub-title">活动</h3>
                    <h4>每期活动 优惠享不停 </h4>
                </div>
                <div class="row" style="padding:.5rem 0;">
                    <div class="col-md-3 col-xs-6">
                        <div class="icon-sale one"></div>
                        <h4>秒杀</h4>
                        <div class="activity-main">
                            <a href="#"><img src="{% static 'images/app/activity1.jpg' %}"></a>
                        </div>
                        <div class="activity-info">
                            <h3>快被抢完了</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="icon-sale one"></div>
                        <h4>特惠</h4>
                        <div class="activity-main">
                            <a href="#"><img src="{% static 'images/app/activity2.jpg' %}"></a>
                        </div>
                        <div class="activity-info">
                            <h3>物美价廉哦</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="icon-sale one"></div>
                        <h4>团购</h4>
                        <div class="activity-main">
                            <a href="#"><img src="{% static 'images/app/activity3.jpg' %}"></a>
                        </div>
                        <div class="activity-info">
                            <h3>团购更便宜</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="icon-sale one"></div>
                        <h4>超值</h4>
                        <div class="activity-main">
                            <a href="#"><img src="{% static 'images/app/activity.jpg' %}"></a>
                        </div>
                        <div class="activity-info">
                            <h3>物超所值哦</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--商品导购区-->
			{% for channel in guideChannels %}
            <div class="tabs">
                <div class="shop-sub-title">{{channel.name}}</div>
                <ul id="myTabs" class="nav nav-tabs" role="tablist">
					{% for subChannel in channel.subChannels %}
                    <li role="presentation" class="{% if forloop.first %}active{% endif %}"><a href="#commodity-{{forloop.counter}}" role="tab" id="commodity-{{forloop.counter}}-tab"
                                                              data-toggle="tab" aria-controls="commodity-{{forloop.counter}}"
                                                              aria-expanded="true">{{subChannel.name}}</a></li>
					{% endfor %}
                </ul>
                <div id="myTabContent" class="tab-content">
                    {% for subChannel in channel.subChannels %}
                    <div role="tabpanel" class="container tab-pane fade" id="commodity-{{forloop.counter}}" aria-labelledby="commodity-{{forloop.counter}}-tab" style="padding:0">
                        <div class="row commodity-content">
                            <div class="col-md-3 col-xs-6" style="border-top: 1px solid #eee;">
								<div class="commodity-name-price">
									<div class="commodity-name">
										香槟
									</div>
									<div class="commodity-price ">
										仅售：¥100
									</div>
								</div>
                                    <a href="{% url 'app:introduction' %}"><img src="{% static 'images/app/commodity1.png' %} " /></a>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="commodity-row-two">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    水果拼盘
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="{% url 'app:introduction' %}"><img src="{% static 'images/app/commodity2.png' %}" /></a>
							    </div>
							    <div class="commodity-row-two">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    水果拼盘
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="{% url 'app:introduction' %}"><img src="{% static 'images/app/commodity2.png' %}" /></a>
							    </div>
                            </div>
                            <div class="col-md-5 col-xs-12">
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="{% url 'app:introduction' %}"><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="{% url 'app:introduction' %}"><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="{% url 'app:introduction' %}"><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="{% url 'app:introduction' %}"><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div role="tabpanel" class="container tab-pane fade" id="commodity-1" aria-labelledby="commodity-1-tab" style="padding:0">
                        <div class="row commodity-content">
                            <div class="col-md-3 col-xs-6" style="border-top: 1px solid #eee;">
								<div class="commodity-name-price">
									<div class="commodity-name">
										香槟
									</div>
									<div class="commodity-price ">
										仅售：¥100
									</div>
								</div>
                                    <a href="{% url 'app:introduction' %}"><img src="{% static 'images/app/commodity1.png' %} " /></a>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="commodity-row-two">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    水果拼盘
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="{% url 'app:introduction' %}"><img src="{% static 'images/app/commodity2.png' %}" /></a>
							    </div>
							    <div class="commodity-row-two">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    水果拼盘
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="{% url 'app:introduction' %}"><img src="{% static 'images/app/commodity2.png' %}" /></a>
							    </div>
                            </div>
                            <div class="col-md-5 col-xs-12">
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="{% url 'app:introduction' %}"><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="{% url 'app:introduction' %}"><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="{% url 'app:introduction' %}"><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="{% url 'app:introduction' %}"><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			{% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
   <script src="{% static "js/app/index.js" %}"></script>
{% endblock %}