{% extends "base.html" %}

{% load static %}
{% block title %}eshop-easy shopping{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/index.css' %}">
{% endblock %}

{% block body %}
    {% include "app/header.html" %}
        <!--搜索框 -->
        <div class="logo-wrapper">
            <div id="logo" style="margin:1rem .6rem"><a href="#">eshop</a></div>
            <div class="search-bar">
                <form>
                    <input id="search-text" type="text" placeholder="商品/店铺/品牌" autocomplete="off">
                    <input id="search-btn" value="搜索" type="submit">
                </form>
            </div>
        </div>
    </div>
    <!--轮播框 -->
    <div class="banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height:100%">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{% static 'images/app/ad1.jpg' %}" alt="活动1">
                </div>
                <div class="item">
                    <img src="{% static 'images/app/ad2.jpg' %}" alt="活动2">
                </div>
                <div class="item">
                    <img src="{% static 'images/app/ad1.jpg' %}" alt="活动3">
                </div>
                <div class="item">
                    <img src="{% static 'images/app/ad2.jpg' %}" alt="活动4">
                </div>
            </div>
        </div>
    </div>
    <div class="shop-nav">
        <div class="slideall">
            <div class="long-title">全部分类</div>
            <div class="activity-nav">
                <ul>
                    <li><a href="#">秒杀</a></li>
                    <li><a href="#">特惠</a></li>
                    <li><a href="#">团购</a></li>
                    <li><a href="#">超值</a></li>
                </ul>
            </div>

            <!--侧边导航 -->
            <div class="category-content">
                <ul class="category-list">
                    <li class="category-item">
                        <div class="category-info">
                            <h3 class="category-name">服饰/内衣</h3>
                            <em>&gt;</em>
                        </div>
                        <div class="menu-in">
                            <div class="menu">
                                <dl class="category-class">
                                    <dt><span title="女装">女装</span></dt>
                                    <dd><a title="外套" href="#"><span>外套</span></a></dd>
                                    <dd><a title="裙装" href="#"><span>裙装</span></a></dd>
                                    <dd><a title="羽绒服" href="#"><span>羽绒服</span></a></dd>
                                    <dd><a title="风衣" href="#"><span>风衣</span></a></dd>
                                    <dd><a title="呢绒" href="#"><span>呢绒</span></a></dd>
                                </dl>
                                <dl class="category-class">
                                    <dt><span title="男装">男装</span></dt>
                                    <dd><a title="外套" href="#"><span>外套</span></a></dd>
                                    <dd><a title="裙装" href="#"><span>裙装</span></a></dd>
                                    <dd><a title="羽绒服" href="#"><span>羽绒服</span></a></dd>
                                    <dd><a title="风衣" href="#"><span>风衣</span></a></dd>
                                    <dd><a title="呢绒" href="#"><span>呢绒</span></a></dd>
                                    <dd><a title="衬衫" href="#"><span>衬衫</span></a></dd>
                                    <dd><a title="正装" href="#"><span>正装</span></a></dd>
                                </dl>
                                <dl class="category-class">
                                    <dt><span title="内衣">内衣</span></dt>
                                    <dd><a title="外套" href="#"><span>外套</span></a></dd>
                                    <dd><a title="裙装" href="#"><span>裙装</span></a></dd>
                                    <dd><a title="羽绒服" href="#"><span>羽绒服</span></a></dd>
                                    <dd><a title="风衣" href="#"><span>风衣</span></a></dd>
                                    <dd><a title="呢绒" href="#"><span>呢绒</span></a></dd>
                                    <dd><a title="衬衫" href="#"><span>衬衫</span></a></dd>
                                    <dd><a title="正装" href="#"><span>正装</span></a></dd>
                                </dl>
                                <dl class="category-class">
                                    <dt><span title="服饰配件">服饰配件</span></dt>
                                    <dd><a title="外套" href="#"><span>外套</span></a></dd>
                                    <dd><a title="裙装" href="#"><span>裙装</span></a></dd>
                                    <dd><a title="羽绒服" href="#"><span>羽绒服</span></a></dd>
                                    <dd><a title="风衣" href="#"><span>风衣</span></a></dd>
                                    <dd><a title="呢绒" href="#"><span>呢绒</span></a></dd>
                                    <dd><a title="衬衫" href="#"><span>衬衫</span></a></dd>
                                    <dd><a title="正装" href="#"><span>正装</span></a></dd>
                                </dl>
                            </div>
                        </div>
                    </li>
                    <li class="category-item">
                        <div class="category-info">
                            <h3 class="category-name">鞋靴/箱包</h3>
                            <em>&gt;</em>
                        </div>
                        <div class="menu-in">
                            <div class="menu">
                                <dl class="category-class">
                                    <dt><span title="女装">女鞋</span></dt>
                                    <dd><a title="外套" href="#"><span>外套</span></a></dd>
                                    <dd><a title="裙装" href="#"><span>裙装</span></a></dd>
                                    <dd><a title="羽绒服" href="#"><span>羽绒服</span></a></dd>
                                    <dd><a title="风衣" href="#"><span>风衣</span></a></dd>
                                    <dd><a title="呢绒" href="#"><span>呢绒</span></a></dd>
                                </dl>
                                <dl class="category-class">
                                    <dt><span title="男装">男鞋</span></dt>
                                    <dd><a title="外套" href="#"><span>外套</span></a></dd>
                                    <dd><a title="裙装" href="#"><span>裙装</span></a></dd>
                                    <dd><a title="羽绒服" href="#"><span>羽绒服</span></a></dd>
                                    <dd><a title="风衣" href="#"><span>风衣</span></a></dd>
                                    <dd><a title="呢绒" href="#"><span>呢绒</span></a></dd>
                                    <dd><a title="衬衫" href="#"><span>衬衫</span></a></dd>
                                    <dd><a title="正装" href="#"><span>正装</span></a></dd>
                                </dl>
                                <dl class="category-class">
                                    <dt><span title="内衣">女包</span></dt>
                                    <dd><a title="外套" href="#"><span>外套</span></a></dd>
                                    <dd><a title="裙装" href="#"><span>裙装</span></a></dd>
                                    <dd><a title="羽绒服" href="#"><span>羽绒服</span></a></dd>
                                    <dd><a title="风衣" href="#"><span>风衣</span></a></dd>
                                    <dd><a title="呢绒" href="#"><span>呢绒</span></a></dd>
                                    <dd><a title="衬衫" href="#"><span>衬衫</span></a></dd>
                                    <dd><a title="正装" href="#"><span>正装</span></a></dd>
                                </dl>
                                <dl class="category-class">
                                    <dt><span title="服饰配件">男包</span></dt>
                                    <dd><a title="外套" href="#"><span>外套</span></a></dd>
                                    <dd><a title="裙装" href="#"><span>裙装</span></a></dd>
                                    <dd><a title="羽绒服" href="#"><span>羽绒服</span></a></dd>
                                    <dd><a title="风衣" href="#"><span>风衣</span></a></dd>
                                    <dd><a title="呢绒" href="#"><span>呢绒</span></a></dd>
                                    <dd><a title="衬衫" href="#"><span>衬衫</span></a></dd>
                                    <dd><a title="正装" href="#"><span>正装</span></a></dd>
                                </dl>
                                <dl class="category-class">
                                    <dt><span title="服饰配件">皮具配件</span></dt>
                                    <dd><a title="外套" href="#"><span>外套</span></a></dd>
                                    <dd><a title="裙装" href="#"><span>裙装</span></a></dd>
                                    <dd><a title="羽绒服" href="#"><span>羽绒服</span></a></dd>
                                    <dd><a title="风衣" href="#"><span>风衣</span></a></dd>
                                    <dd><a title="呢绒" href="#"><span>呢绒</span></a></dd>
                                    <dd><a title="衬衫" href="#"><span>衬衫</span></a></dd>
                                    <dd><a title="正装" href="#"><span>正装</span></a></dd>
                                </dl>
                            </div>
                        </div>
                    </li>
                    <li class="category-item">
                        <div class="category-info">
                            <h3 class="category-name">电脑办公</h3>
                            <em>&gt;</em>
                        </div>
                    </li>
                    <li class="category-item">
                        <div class="category-info">
                            <h3 class="category-name">家用电器</h3>
                            <em>&gt;</em>
                        </div>
                    </li>
                    <li class="category-item">
                        <div class="category-info">
                            <h3 class="category-name">手机/数码</h3>
                            <em>&gt;</em>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shop-main-bg">
        <div class="shop-main">
        <!--热门活动 -->
            <div class="container activity ">
                <div class="shop-title">
                    <h3 class="shop-sub-title">活动</h3>
                    <h4>每期活动 优惠享不停 </h4>
                </div>
                <div class="row" style="padding:.5rem 0;">
                    <div class="col-md-3 col-xs-6">
                        <div class="icon-sale one"></div>
                        <h4>秒杀</h4>
                        <div class="activity-main">
                            <a href="#"><img src="{% static 'images/app/activity1.jpg' %}"></a>
                        </div>
                        <div class="activity-info">
                            <h3>快被抢完了</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="icon-sale one"></div>
                        <h4>特惠</h4>
                        <div class="activity-main">
                            <a href="#"><img src="{% static 'images/app/activity2.jpg' %}"></a>
                        </div>
                        <div class="activity-info">
                            <h3>物美价廉哦</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="icon-sale one"></div>
                        <h4>团购</h4>
                        <div class="activity-main">
                            <a href="#"><img src="{% static 'images/app/activity3.jpg' %}"></a>
                        </div>
                        <div class="activity-info">
                            <h3>团购更便宜</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="icon-sale one"></div>
                        <h4>超值</h4>
                        <div class="activity-main">
                            <a href="#"><img src="{% static 'images/app/activity.jpg' %}"></a>
                        </div>
                        <div class="activity-info">
                            <h3>物超所值哦</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--商品分类区-->
            <div class="tabs">
                <div class="shop-sub-title">食品/茶酒/生鲜</div>
                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#commodity-1" id="commodity-1-tab" role="tab" data-toggle="tab"
                                                        aria-controls="commodity-1" aria-expanded="false">食品</a></li>
                    <li role="presentation" class="active"><a href="#commodity-2" role="tab" id="commodity-2-tab"
                                                              data-toggle="tab" aria-controls="commodity-2"
                                                              aria-expanded="true">茶酒</a></li>
                    <li role="presentation"><a href="#commodity-3" role="tab" id="commodity-3-tab"
                                                              data-toggle="tab" aria-controls="commodity-3"
                                                              aria-expanded="true">生鲜</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="container tab-pane fade" id="commodity-1" aria-labelledby="commodity-1-tab" style="padding:0">
                        <div class="row commodity-content">
                            <div class="col-md-3 col-xs-6" style="border-top: 1px solid #eee;">
								<div class="commodity-name-price">
									<div class="commodity-name">
										香槟
									</div>
									<div class="commodity-price ">
										仅售：¥100
									</div>
								</div>
                                    <a href="#"><img src="{% static 'images/app/commodity1.png' %} " /></a>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="commodity-row-two">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    水果拼盘
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity2.png' %}" /></a>
							    </div>
							    <div class="commodity-row-two">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    水果拼盘
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity2.png' %}" /></a>
							    </div>
                            </div>
                            <div class="col-md-5 col-xs-12">
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade active in" id="commodity-2" aria-labelledby="commodity-2-tab">
                        <div class="row commodity-content">
                            <div class="col-md-3 col-xs-6" style="border-top: 1px solid #eee;">
								<div class="commodity-name-price">
									<div class="commodity-name">
										香槟
									</div>
									<div class="commodity-price ">
										仅售：¥100
									</div>
								</div>
                                    <a href="#"><img src="{% static 'images/app/commodity1.png' %} " /></a>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="commodity-row-two">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    水果拼盘
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity2.png' %}" /></a>
							    </div>
							    <div class="commodity-row-two">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    水果拼盘
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity2.png' %}" /></a>
							    </div>
                            </div>
                            <div class="col-md-5 col-xs-12">
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="commodity-3" aria-labelledby="commodity-3-tab">
                        <div class="row commodity-content">
                            <div class="col-md-3 col-xs-6" style="border-top: 1px solid #eee;">
								<div class="commodity-name-price">
									<div class="commodity-name">
										香槟
									</div>
									<div class="commodity-price ">
										仅售：¥100
									</div>
								</div>
                                    <a href="#"><img src="{% static 'images/app/commodity1.png' %} " /></a>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="commodity-row-two">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    水果拼盘
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity2.png' %}" /></a>
							    </div>
							    <div class="commodity-row-two">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    水果拼盘
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity2.png' %}" /></a>
							    </div>
                            </div>
                            <div class="col-md-5 col-xs-12">
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                                <div class="commodity-quarter-two col-md-6 col-xs-6">
								    <div class="commodity-name-price">
									    <div class="commodity-name">
										    坚果礼盒
									    </div>
									    <div class="commodity-price">
										    仅售：¥13.8
									    </div>
								    </div>
								    <a href="# "><img src="{% static 'images/app/commodity3.png' %}" /></a>
							    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $(".category-item").hover(function () {
                $(".category-content .category-list li .menu-in").css("display", "none");
                $(".category-content .category-list li").removeClass("hover");
                $(this).addClass("hover");
                $(this).children("div.menu-in").css("display", "block")
            }, function () {
                $(this).removeClass("hover")
                $(this).children("div.menu-in").css("display", "none")
            });
        })
    </script>
{% endblock %}