{% extends "base.html" %}

{% load static %}
{% block title %}商品详情{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/introduction.css' %}">
{% endblock %}

{% block body %}
    {% include "app/header.html" %}
    <!--商品内容-->
    <div class="content">
        <input type="hidden" id="id" value="{{product.id}}"/>
        <!--商品图片-->
        <div class="content-left">
            <span class="commodity-image">
                <img src="{{product.firstImage.url}}" alt="{{product.firstImage.name}}" width="400" height="400">
            </span>
            <ul class="commodity-list">
                {% for image in product.images %}
                <li>
                   <img src="{{image.url}}" alt="{{image.name}}">
                </li>
                {% endfor %}
            </ul>
            <div class="collect {% if collected %}hidden{% endif %} ">
                <a tabindex="0" id="collect" role="button" data-container="body" data-placement="right" data-id="{{product.id}}" data-content="收藏商品成功">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>收藏商品
                </a>
            </div>
            <div class="collect {% if not collected %}hidden{% endif %}">
                <a tabindex="0" id="collected">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>商品已收藏
                </a>
            </div>
        </div>
        <!--商品详情-->
        <div class="content-right">
            <h2 class="commodity-name">{{product.name}}</h2>
            <div class="detail-list">
                <div class="commodity-price">
                    价格<span class="price">￥<span style="font-size: 1.2rem;font-weight: bold">{{product.price}}</span></span></dd>
                </div>
                <ul class="sale-num">
                    <li class="total-sale">总销量<span class="num">{{product.soldoutAmount}}</span></li>
                    <li class="total-evaluate">总评价<span class="num">???</span></li>
                </ul>
                <p class="commodity-category">种类<span class="num">{{product.category.name}}</span></p>
                <ul class="commodity-attribute">
                    {% for property in product.properties %}
                    <li>
                        <label class="attribute-name">{{property.meta.name}}</label>
                        <span class="attribute-select">{{property.value}}</span>
                    </li>
                    {% endfor %}
                    <li>
                        <label class="attribute-name">数量</label>
                        <input class="reduce" name="" type="button" value="-">
                        <input class="number" name="" type="text" value="1">
                        <input class="add" name="" type="button" value="+">
                        库存<span class="stock">{{product.amount}}</span>件
                    </li>
                </ul>
                <div class="button-group">
                    <a href="#" id="order" class="buy-rightnow">马上购买</a>
                    <a tabindex="0" role="button" id="shopcart" class="add-to-shopcart" data-toggle="modal" data-target="#addShopcartModal">加入购物车</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--商品介绍和评价-->
        <div class="content-bottom">
            <div class="same-kind">
                <div class="same-kind-content">
                    <ul>
                        <div class="title">
                            <h2>同类商品</h2>
                        </div>
                        {% for recmandProduct in recmandProducts %}
                        <li class="goods-list">
                            <div class="goods-img">
                                <a href="{% url 'app:introduction' %}?id={{recmandProduct.id}}"> <img class="" src="{{recmandProduct.thumbnail}}"> </a>
                            </div>
                            <div class="goods-name"><a href="{% url 'app:introduction' %}?id={{recmandProduct.id}}">
                                {{recmandProduct.name}}
                            </a>
                            </div>
                            <div class="goods-price">￥{{recmandProduct.price}}</div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="tabs" style="width:80%;float: left">
                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#evaluate" role="tab" id="evaluate-tab"
                                                              data-toggle="tab" aria-controls="evaluate"
                                                              aria-expanded="true">全部评价</a></li>
                    <li role="presentation" class="active"><a href="#introduction" id="introduction-tab" role="tab" data-toggle="tab"
                                                        aria-controls="introduction" aria-expanded="false">宝贝详情</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade" id="evaluate" aria-labelledby="evaluate-tab">
                        <h4 class="high-praise">好评度：<span>90%</span></h4>
                        <div class="evaluate-option">
                            <ul class="option-list">
                                <li>
                                    <a title="全部评价">全部评价(100)</a>
                                </li>
                                <li>
                                    <a title="好评">好评(90)</a>
                                </li>
                                <li>
                                    <a title="中评">中评(10)</a>
                                </li>
                                <li>
                                    <a title="差评">差评(0)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="evaluate-content">
                            <ul class="comments-list">
                                <li class="comment">
                                    <div class="commenter-pic">
                                        <img src="{% static 'images/app/commenter-head.jpg' %}" alt="评论者头像">
                                    </div>
                                    <div class="comment-main">
                                        <header class="comment-hd">
                                            <div class="comment-meta">
                                                <span class="commenter-name">zihang1013</span>
                                                <span class="comment-time">评论于2017-3-26 23:00</span>
                                            </div>
                                        </header>
                                        <div class="comment-bd">
                                            <div class="comment-text">
                                                式样不错，合适初春穿
                                                <p class="comment-time">评论于2017-3-31 12:00</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment">
                                    <div class="commenter-pic">
                                        <img src="{% static 'images/app/commenter-head.jpg' %}" alt="评论者头像">
                                    </div>
                                    <div class="comment-main">
                                        <header class="comment-hd">
                                            <div class="comment-meta">
                                                <span class="commenter-name">zihang1013</span>
                                                <span class="comment-time">评论于2017-3-26 23:00</span>
                                            </div>
                                        </header>
                                        <div class="comment-bd">
                                            <div class="comment-text">
                                                式样不错，合适初春穿
                                                <p class="comment-time">评论于2017-3-31 12:00</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment">
                                    <div class="commenter-pic">
                                        <img src="{% static 'images/app/commenter-head.jpg' %}" alt="评论者头像">
                                    </div>
                                    <div class="comment-main">
                                        <header class="comment-hd">
                                            <div class="comment-meta">
                                                <span class="commenter-name">zihang1013</span>
                                                <span class="comment-time">评论于2017-3-26 23:00</span>
                                            </div>
                                        </header>
                                        <div class="comment-bd">
                                            <div class="comment-text">
                                                式样不错，合适初春穿
                                                <p class="comment-time">评论于2017-3-31 12:00</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment">
                                    <div class="commenter-pic">
                                        <img src="{% static 'images/app/commenter-head.jpg' %}" alt="评论者头像">
                                    </div>
                                    <div class="comment-main">
                                        <header class="comment-hd">
                                            <div class="comment-meta">
                                                <span class="commenter-name">zihang1013</span>
                                                <span class="comment-time">评论于2017-3-26 23:00</span>
                                            </div>
                                        </header>
                                        <div class="comment-bd">
                                            <div class="comment-text">
                                                式样不错，合适初春穿
                                                <p class="comment-time">评论于2017-3-31 12:00</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment">
                                    <div class="commenter-pic">
                                        <img src="{% static 'images/app/commenter-head.jpg' %}" alt="评论者头像">
                                    </div>
                                    <div class="comment-main">
                                        <header class="comment-hd">
                                            <div class="comment-meta">
                                                <span class="commenter-name">zihang1013</span>
                                                <span class="comment-time">评论于2017-3-26 23:00</span>
                                            </div>
                                        </header>
                                        <div class="comment-bd">
                                            <div class="comment-text">
                                                式样不错，合适初春穿
                                                <p class="comment-time">评论于2017-3-31 12:00</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade active in" id="introduction" aria-labelledby="introduction-tab" style="padding:0">
                        <h4 class="goods-attribute">产品参数：</h4>
                        <div class="attribute-content">
                            <div class="col-md-4">品牌：{{product.category.name}}</div>
                            {% for property in product.properties %}
                            <div class="col-md-4">{{property.meta.name}}：{{property.value}}</div>
                            {% endfor %}
                        </div>
                        <h4 class="goods-detail">商品细节：</h4>
                        <div class="detail-content">
                            <img src="{% static "images/app/detail1.jpg" %}" alt="商品细节图片1">
                            <img src="{% static "images/app/detail2.jpg" %}" alt="商品细节图片2">
                            <img src="{% static "images/app/detail3.jpg" %}" alt="商品细节图片3">
                            <img src="{% static "images/app/detail4.jpg" %}" alt="商品细节图片4">
                            <img src="{% static "images/app/detail5.jpg" %}" alt="商品细节图片5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--加入购物车模态框-->
    <div class="modal fade" id="addShopcartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">系统提示</h4>
                </div>
                <div class="modal-body">
                    加入购物车成功！
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static "js/app/introduction.js" %}"></script>
    <script>
        $(function () {
            $("[data-toggle='popover']").popover();
            $("#collect").on("click",function(){
                var that = $(this);
                $.get("/app/common/addCollection?pid="+$(this).data("id"),
                    function(result){
                        if(result.code==200){
                            that.popover("toggle");
                            setTimeout(function(){
                                that.popover("toggle");
                                $(".collect").toggleClass("hidden");
                            },2000);
                        }else{
                            alert(result.msg);
                        }
                    }
                );

            });
        });
    </script>
{% endblock %}