{% extends "base.html" %}

{% load static %}
{% block title %}商品详情{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/introduction.css' %}">
{% endblock %}

{% block body %}
    {% include "app/header.html" %}
{% endblock %}

{% block js %}
    <script src="{% static "js/jquery.imagezoom.min.js" %}"></script>
    <script src="{% static "js/introduction.js" %}"></script>
{% endblock %}