{% extends "base.html" %}

{% load static %}
{% block title %}商品搜索{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/search.css' %}">
{% endblock %}

{% block body %}
    {% include "app/header.html" %}
    <div class="search">
        <div class="search-list">
            <div class="nav-table">
                <div class="long-title">
                    <span class="all-goods">全部商品</span>
                </div>
            </div>
            {% if not products %}
            <div class="no-commodity">
                <h3><span class="search-name">松子</span>搜索到<span style="color: red">0</span>件商品</h3>
                <img src="{% static 'images/app/monkey.jpg' %}" alt="找不到商品的图片">
                <p>没有找到和<span class="search-name">松子</span>相关的商品</p>
            </div>
            {% endif %}

            <div class="container-fluid center-block {% if not products %}hidden{% endif %}" style="max-width: 60rem">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="select-box">
                            <ul class="select">
								<p class="select-total">
									<span>松子</span>
									<span>搜索到<strong>{{productsAmount}}</strong>件相关商品</span>
								</p>
								<li class="select-result" style="display: none">
									<dl>
										<dt>已选</dt>
										<dd class="select-no"></dd>
										<p class="eliminateCriteria">清除</p>
									</dl>
								</li>
								<li class="select-list">
									<dl id="select1">
										<dt class="select-option">品牌</dt>

										 <div class="select-content">
											<dd class="select-all selected"><a href="#">全部</a></dd>
											<dd><a href="#">百草味</a></dd>
											<dd><a href="#">良品铺子</a></dd>
											<dd><a href="#">新农哥</a></dd>
											<dd><a href="#">楼兰蜜语</a></dd>
											<dd><a href="#">口水娃</a></dd>
											<dd><a href="#">考拉兄弟</a></dd>
										 </div>

									</dl>
								</li>
								<li class="select-list">
									<dl id="select2">
										<dt class="select-option">种类</dt>
										<div class="select-content">
											<dd class="select-all selected"><a href="#">全部</a></dd>
											<dd><a href="#">东北松子</a></dd>
											<dd><a href="#">巴西松子</a></dd>
											<dd><a href="#">夏威夷果</a></dd>
											<dd><a href="#">松子</a></dd>
										</div>
									</dl>
								</li>
								<li class="select-list">
									<dl id="select3">
										<dt class="select-option">选购热点</dt>
										<div class="select-content">
											<dd class="select-all selected"><a href="#">全部</a></dd>
											<dd><a href="#">手剥松子</a></dd>
											<dd><a href="#">薄壳松子</a></dd>
											<dd><a href="#">进口零食</a></dd>
											<dd><a href="#">有机零食</a></dd>
										</div>
									</dl>
								</li>
							</ul>
                        </div>
                        <div class="sort-option">
                            <ul class="sort">
                                <li class="sort-first">
                                    <a title="综合排序">综合排序</a>
                                </li>
                                <li>
                                    <a title="销量排序">销量排序</a>
                                </li>
                                <li>
                                    <a title="价格优先">价格优先</a>
                                </li>
                                <li>
                                    <a title="好评为主">好评为主</a>
                                </li>
                            </ul>
                        </div>
                        {% for product in products %}
                        <div class="col-md-3 col-xs-4">
                            <div class="commodity">
                                <a href="{% url 'app:introduction' %}?id={{product.id}}">
                                    <img src="{{product.image.url}}" alt="{{product.image.name}}">
                                    <p class="price">¥{{product.price}}</p>
                                    <p class="title">{{product.description}}</p>
                                    <p style="padding: .5rem">
                                        <span class="sale-volume">销量 {{product.soldoutAmount}}</span>
                                        <span class="evaluate">好评 95%</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        <nav class="text-center" aria-label="Page navigation">
                            <ul class="pagination pagination-lg">
                                {% if products.has_previous %}
                                <li>
                                    <a id="prePage" data-page="{{products.previous_page_number}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% if productsAmount > 8 %}
                                <li><a>{{products.number}} / {{products.paginator.num_pages}}</a></li>
                                {% endif %}
                                {% if products.has_next %}
                                <li>
                                    <a id="nextPage" data-page="{{products.next_page_number}}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/app/search.js' %}"></script>
{% endblock %}