{% extends "base.html" %}

{% load static %}
{% block title %}个人中心{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/aside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer/index.css' %}">
{% endblock %}
{% block body %}
    {% include "app/header.html" %}
    <div class="content center-block">
        <div class="col-main">
            <div class="main-wrap">
                <!--用户-->
                <div class="user-info">
                    <div class="file-pic">
                        <input type="file" class="input-pic">
                        <img class="user-pic" src="{% if customer.avatar %}{{ customer.avatar }}{% else %}{% static "images/customer/user-head.jpg" %}{% endif %}" alt="用户头像">
                    </div>
                    <p class="user-name">用户名：{{customer.name}}</p>
                    <ul>
                        <li>待付款：<span class="badge">{{unpayOrderNum}}</span>待发货：<span class="badge">{{unsendOrderNum}}</span></li>
                        <li>待收货：<span class="badge">{{unreceiveOrderNum}}</span>待评价：<span class="badge">{{unevaluateOrderNum}}</span></li>
                    </ul>
                </div>
                <!--订单-->
                <div class="order-info">
                    <div class="info-bar">
                        我的订单<a href="{% url 'customer:order' %}" class="all-order pull-right">全部订单</a>
                    </div>
                    {% if not orders %}
                    <div class="no-order">
                        <p class="no-order-text">您暂时没有订单</p>
                    </div>
                    {% else %}
                        {% for order in orders %}
                        <div class="order-content-box">
                            <div class="order-content">
                                <ul class="order-content-pic">
                                    {% for product in order.products %}
                                    <li class="img-box">
                                        <img src="{{ product.product.thumbnail }}" alt="订单商品图片">
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="detail-content">
                                    <p class="delivery-time">{{ order.addTime }}</p>
                                    <p class="delivery-num"></p>
                                </div>
                                <div class="evaluate">{{ order.status.text }}</div>
                                <div class="price"><span style="font-size: .8rem;margin-right:.2rem">¥</span>{{ order.totalPrice }}</div>
                            </div>
                            <a href="{% url 'customer:order' %}?id={{order.id}}" class="buy-btn">详情</a>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <!--收藏-->
                <div class="collection-info">
                    <div class="collection-head text-center">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true" style="margin-right: .2rem"></span>收藏
                        <a class="all-collection" href="{% url 'customer:collection' %}">全部收藏</a>
                    </div>
                    {% if not collections %}
                    <div class="no-collection">
                        <p class="no-collection-text">您暂时没有收藏的商品，到首页<a href="{% url 'app:index' %}">逛逛去</a></p>
                    </div>
                    {% endif %}
                    <ul class="collection-list hidden">
                        {% for collection in collections %}
                        <li class="list-item col-md-2">
                            <a href="">
                                <img src="{{collection.product.thumbnailLink}}" alt="收藏商品图片">
                            </a>
                            <p class="goods-price">¥{{collection.product.price}}</p>
                            <p class="goods-name">{{collection.product.name}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% include "customer/aside.html" %}
    </div>
{% endblock %}

{% block js %}
   <script src="{% static "js/customer/index.js" %}"></script>
{% endblock %}