{% extends "admin/base.html" %}
{% load static %}

{% block withnavbody %}
<ul class="nav nav-tabs">
    <li><a href="{% url 'admin:adminAdminAdminIndex' %}">管理员</a></li>
    <li><a href="{% url 'admin:adminAdminGroupIndex' %}">权限组</a></li>
    <li class="active"><a href="{% url 'admin:adminAdminNodeIndex' %}">节点</a></li>
</ul>
<hr/>
<a href="/admin/adminadmin/addNode?id={{admin.id}}" class="btn btn-primary">添加节点</a>
<hr/>
<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>id</th>
        <th>名称</th>
        <th>controller</th>
        <th>action</th>
        <th>节点链接</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    {% for node in nodes %}
    <tr>
        <td>{{node.id}}</td>
        <td>{{node.name}}</td>
        <td>{{node.controller}}</td>
        <td>{{node.action}}</td>
        <td>{{node.linkUrl}}</td>
        <td>{{node.addTime}}</td>
        <td>
            <div class="btn-group">
                <a class="btn btn-info btn-xs" href="/admin/adminadmin/updateNode?id={{node.id}}">修改</a>
                <a class="btn btn-danger btn-xs del-node" data-id="{{node.id}}">删除</a>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block js %}
<script src="{% static 'js/js.cookie.js' %}"></script>
<script>
    var csrfToken = Cookies.get("csrftoken");
    $(function(){
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                }
            }
        });

        $(".del-node").on("click",function(){
            id = $(this).data("id");
            $.post(
                "/admin/adminadmin/deleteNode",
                {"id":id},
                function(result){
                    alert(result.msg);
                    if(result.code == 200){
                        window.location.href="/admin/adminadmin/nodeIndex";
                    }
                }
            );
            return false;
        });
    });
</script>
{% endblock %}