{% extends "base.html" %}

{% load static %}
{% block title %}新增商品{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller/aside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller/addgoods.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' %}">
    <link href="{% static 'lib/bootstrap-fileinput/css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static 'lib/bootstrap-fileinput/themes/explorer/theme.css' %}" media="all" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body %}
    {% include "seller/header.html" %}
    <div class="content center-block">
        <div class="col-main">
            <div class="main-wrap">
                <div class="info">
                    <!--标题-->
                    <div class="info-head">
                        <p>
                            <span class="head-text">新增商品</span>/
                            <span class="for-head-text">add goods</span>
                        </p>
                    </div>
                    <!--新增商品-->
                    <form class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">商品名</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" placeholder="商品名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">商品价格</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="brand" class="col-sm-2 control-label">商品品牌</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="brand">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="effect" class="col-sm-2 control-label">商品功效</label>
                            <div class="col-sm-6">
                                <select class="form-control">
                                    <option>润唇</option>
                                    <option>保湿</option>
                                    <option>防水</option>
                                    <option>丰唇</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="manufacture-date" class="col-sm-2 control-label">商品生产日期</label>
                            <div class="col-sm-6">
                                <div class='input-group date' id='manufacture-date'>
                                    <input type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="guarantee-date" class="col-sm-2 control-label">商品保质期</label>
                            <div class="col-sm-6">
                                <div class='input-group date' id='guarantee-date'>
                                    <input type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="location" class="col-sm-2 control-label">生产地</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="location">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">种类</label>
                            <div class="col-md-6">
                                <div class="col-md-4" style="padding-left: 0">
                                    <select class="form-control">
                                        <option>国产品牌</option>
                                        <option>进口品牌</option>
                                    </select>
                                </div>
                                <div class="col-md-4" style="padding-left: 0">
                                    <select class="form-control">
                                        <option>唇彩</option>
                                        <option>唇膏</option>
                                        <option>口红</option>
                                    </select>
                                </div>
                                <div class="col-md-4" style="padding: 0">
                                    <select class="form-control">
                                        <option>化妆品</option>
                                        <option>女士用品</option>
                                        <option>男士用品</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="picture" class="col-sm-2 control-label">商品图片</label>
                            <div class="col-sm-6">
                                <input id="file-0c" class="file" type="file" multiple data-upload-url="#" data-min-file-count="1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <a class="btn" data-toggle="modal" data-target="#addModal" style="color: #fff;background-color: red">新增商品</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% include "seller/aside.html" %}
    </div>
    <!--新增商品模态框-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">系统提示</h4>
                </div>
                <div class="modal-body">
                    新增商品成功！
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static 'lib/bootstrap-fileinput/js/plugins/sortable.js' %}"></script>
    <script src="{% static 'lib/bootstrap-fileinput/js/fileinput.js' %}"></script>
    <script src="{% static 'lib/bootstrap-fileinput/js/locales/fr.js' %}"></script>
    <script src="{% static 'lib/bootstrap-fileinput/js/locales/es.js' %}"></script>
    <script src="{% static 'lib/bootstrap-fileinput/themes/explorer/theme.js' %}"></script>
    <script src="{% static "lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" %}"></script>
    <script>
         $(function () {
            $('#manufacture-date').datetimepicker({
                format: 'YYYY-MM-DD'
            });
             $('#guarantee-date').datetimepicker({
                format: 'YYYY-MM-DD'
            });
             $("#file-0c").fileinput({
                uploadExtraData: {kvId: '10'}
            });
             $("#modal-input").fileinput({
                 initialPreview: [
                     "{% static "images/customer/kouhong-big.jpg" %}"
                 ],
                 initialPreviewAsData: true,
                 initialPreviewConfig: [
                     {caption: "kouhong.jpg", width: "6rem", key: 1},
                 ],
                 deleteUrl: "#",
                 overwriteInitial: false,
                 initialCaption: "口红"
             });
        });
    </script>
{% endblock %}