{% extends "base.html" %}

{% load static %}
{% block title %}商家中心{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller/aside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller/index.css' %}">
{% endblock %}
{% block body %}
    {% include "seller/header.html" %}
    <div class="content center-block">
        <div class="col-main">
            <div class="main-wrap">
                <!--商家信息-->
                <div class="user-info">
                    <div class="file-pic">
                        <input type="file" class="input-pic">
                        <img class="user-pic" src="{% if seller.thumbnail %}{{seller.thumbnail}}{% else %}{% static "images/customer/user-head.jpg" %}{% endif %}" alt="用户头像">
                    </div>
                    <p class="user-name">用户名：{{seller.name}}</p>
                    <ul>
                        <li>店铺名：{{seller.shopName}}</li>
                        <li>店铺地址：{{seller.shopAddress}}</li>
                    </ul>
                </div>
                <!--订单-->
                <div class="order-info">
                    <div class="info-bar">
                        最新订单<a href="{% url 'seller:order' %}" class="all-order pull-right">全部订单</a>
                    </div>
                    {% if not orderProducts %}
                    <div class="no-order">
                        <p class="no-order-text">您暂时没有订单</p>
                    </div>
                    {% endif %}
                    {% for ordPd in orderProducts %}
                    <div class="order-content-box">
                        <div class="order-content">
                            <ul class="order-content-pic">
                                <li class="img-box">
                                    <img src="{{ordPd.product.thumbnail}}" alt="订单商品图片">
                                </li>
                            </ul>
                            <div class="commodity-name">{{ordPd.product.name}}</div>
                            <div class="detail-content">
                                <p class="delivery-time">{{ordPd.addTime}}</p>
                                <p class="delivery-num">共 <span class="font-red">{{ordPd.amount}}</span> 件商品</p>
                            </div>
                            <div class="price"><span style="font-size: .8rem;margin-right:.2rem">¥</span><span class="font-red">{{ordPd.totalPrice}}</span></div>
                        </div>
                        <a href="#" class="buy-btn" data-id="{{ordPd.id}}">立即发货</a>
                    </div>
                    {% endfor %}
                </div>
                <!--我的消息-->
                <div class="my-message">
                    <div class="info-bar" style="border-bottom: 1px solid #eee">我的消息</div>
                    <div class="message-group">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseOne">
                                            退款申请
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        {% if refundOrdPds %}
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>时间</th>
                                                <th>买家名</th>
                                                <th>订单号</th>
                                                <th>退款原因</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for refundOrdPd in refundOrdPds %}
                                            <tr>
                                                <td>{{refundOrdPd.refundTime}}</td>
                                                <td>{{refundOrdPd.order.customer.name}}</td>
                                                <td>{{refundOrdPd.order.id}}</td>
                                                <td style="max-width: 6rem">{{refundOrdPd.refundReason}}</td>
                                                <td><a href="{% url 'seller:refund' %}?id={{refundOrdPd.id}}">去退款审核页面审核</a></td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseTwo">
                                            咨询回复
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {% if productConsults %}
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>时间</th>
                                                <th>买家名</th>
                                                <th>咨询内容</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for pc in productConsults %}
                                            <tr>
                                                <td>{{pc.askTime}}</td>
                                                <td>{{pc.customer.name}}</td>
                                                <td style="max-width: 10rem">{{pc.question}}</td>
                                                <td><a href="consult?id={{pc.id}}">去咨询回复页面回复</a></td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!--<div class="panel panel-warning">-->
                                <!--<div class="panel-heading">-->
                                    <!--<h4 class="panel-title">-->
                                        <!--<a data-toggle="collapse" data-parent="#accordion"-->
                                           <!--href="#collapseThree">-->
                                            <!--意见回复-->
                                        <!--</a>-->
                                    <!--</h4>-->
                                <!--</div>-->
                                <!--<div id="collapseThree" class="panel-collapse collapse">-->
                                    <!--<div class="panel-body">-->
                                        <!--<table class="table table-bordered table-hover">-->
                                            <!--<thead>-->
                                            <!--<tr>-->
                                                <!--<th>时间</th>-->
                                                <!--<th>买家名</th>-->
                                                <!--<th>意见内容</th>-->
                                                <!--<th>操作</th>-->
                                            <!--</tr>-->
                                            <!--</thead>-->
                                            <!--<tbody>-->
                                            <!--<tr>-->
                                                <!--<td>2017-3-27 12:00</td>-->
                                                <!--<td>zihang1013</td>-->
                                                <!--<td style="max-width: 10rem">商家的服务态度很好，发货也很快，赞一个</td>-->
                                                <!--<td><a href="opinion">去意见回复页面回复</a></td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                                <!--<td>2017-3-27 12:00</td>-->
                                                <!--<td>zihang1013</td>-->
                                                <!--<td style="max-width: 10rem">商家的服务态度很好，发货也很快，赞一个</td>-->
                                                <!--<td><a href="opinion">去意见回复页面回复</a></td>-->
                                            <!--</tr>-->
                                            <!--</tbody>-->
                                        <!--</table>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include "seller/aside.html" %}
    </div>
{% endblock %}

{% block js %}
<script>
    $(function(){
        $(".buy-btn").on("click",function(){
            $.get("/seller/order/sendProduct?id="+$(this).data("id"),
                function(result){
                    alert(result.msg);
                    location.reload(true);
                }
            );
            return false;
        });
    });
</script>
{% endblock %}