{% extends "base.html" %}

{% load static %}
{% block title %}商家中心{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller/aside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller/index.css' %}">
{% endblock %}
{% block body %}
    {% include "app/header.html" %}
    <div class="content center-block">
        <div class="col-main">
            <div class="main-wrap">

            </div>
        </div>
    {% include "seller/aside.html" %}
    </div>
{% endblock %}

{% block js %}

{% endblock %}