{% extends "base.html" %}

{% load static %}
{% block title %}eshop-商家登录{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller/login.css' %}">
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div id="logo">
            <a href="index">eshop</a>
            <span>商家登录</span>
        </div>
    </div>
    <div class="login-wrap clearfix">
        <div class="wrapper">
            <div class="login-form">
                <div class="login-box">
                    <div class="form-header">账户登录</div>
                    <form id="loginForm" v-on:submit.prevent="doLogin">
                        {% csrf_token %}
                        <div v-html="infoMsg.msg" v-bind:class="infoMsg.style"></div>
                        <div class="form-item">
                            <label for="loginname" class="login-name-label"></label>
                            <input v-model="seller.account" id="loginname" class="input-box" type="text" name="loginname"
                                   placeholder="用户名/邮箱/手机">
                        </div>
                        <div class="form-item">
                            <label for="loginpwd" class="login-pwd-label"></label>
                            <input v-model="seller.password" id="loginpwd" class="input-box" type="password" name="loginpwd" placeholder="密码">
                        </div>
                        <div class="form-item" style="border: 0">
                            <input v-model="inputCaptchaCode" id="captcha" class="input-box" name="captcha" type="text" placeholder="验证码" style="border:1px solid #bdbdbd;width:9.5rem">
                            <a v-on:click="updateCaptcha" href="javascript:void(0);" style="float:right">
                                <img v-bind:src="captcha.imageUrl" class="img-code" title="点击更换验证码" width="84" height="34">
                            </a>
                        </div>
                        <div class="login-btn">
                            <input type="submit" value="登 录">
                        </div>
                    </form>
                    <div class="forget-register">
                        <a href="{% url 'seller:forgetPwd' %}">忘记密码</a>
                        <a href="{% url 'seller:register' %}" class="free-register">免费注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/seller/login.js' %}"></script>
{% endblock %}