{% extends "base.html" %}

{% load static %}
{% block title %}订单管理{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller/aside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller/order.css' %}">
{% endblock %}
{% block body %}
    {% include "app/header.html" %}
    <div class="content center-block">
        <div class="col-main">
            <div class="main-wrap">
                <div class="info">
                    <!--标题-->
                    <div class="info-head">
                        <p>
                            <span class="head-text">订单管理</span>/
                            <span class="for-head-text">order management</span>
                        </p>
                    </div>
                    <!--订单内容-->
                    <div class="content">
                        <div class="order-wrapper">
                            <ul class="table-header">
                                <li class="text-center col-md-5">商品</li>
                                <li class="text-center col-md-1">单价</li>
                                <li class="text-center col-md-1">数量</li>
                                <li class="text-center col-md-1">合计</li>
                                <li class="text-center col-md-2">交易状态</li>
                                <li class="text-center col-md-3-2">交易操作</li>
                            </ul>
                            <div class="order">
                                <p class="order-detail">
                                    <span class="detail-text">订单编号：00001</span>
                                    <span class="detail-text">订单生成时间：2017-3-25 10:00</span>
                                </p>
                                <div class="order-content">
                                    <ul class="table-content">
                                        <li class="col-md-5">
                                            <div class="col-md-3 commodity-pic">
                                                <img src="{% static "images/app/kouhong.jpg" %}" alt="商品图片">
                                            </div>
                                            <ul class="col-md-9 commodity-detail">
                                                <li class="commodity-name">美康粉黛醉美唇膏 持久保湿滋润防水不掉色</li>
                                                <li class="commodity-attribute">颜色：啫喱红</li>
                                            </ul>
                                        </li>
                                        <li class="col-md-1 text-center commodity-price">62.00</li>
                                        <li class="col-md-1 text-center commodity-num">1</li>
                                    </ul>
                                    <div class="table-right">
                                        <ul>
                                            <li>
                                                <p class="total-price">62.00</p>
                                            </li>
                                            <li class="transaction-status">
                                                <p class="status-text">买家已付款</p>
                                                <p class="remind-text">买家已提醒发货</p>
                                            </li>
                                            <li class="transaction-operation">
                                                <a class="btn" data-toggle="modal" data-target="#sentModal"
                                                   role="button">发货</a>
                                                <a class="btn" data-toggle="modal" data-target="#confirmModal"
                                                   role="button">收到提醒</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="order">
                                <p class="order-detail">
                                    <span class="detail-text">订单编号：00001</span>
                                    <span class="detail-text">订单生成时间：2017-3-25 10:00</span>
                                </p>
                                <div class="order-content">
                                    <ul class="table-content">
                                        <li class="col-md-5">
                                            <div class="col-md-3 commodity-pic">
                                                <a href="#">
                                                    <img src="{% static "images/app/kouhong.jpg" %}" alt="商品图片">
                                                </a>
                                            </div>
                                            <ul class="col-md-9 commodity-detail">
                                                <li class="commodity-name">美康粉黛醉美唇膏 持久保湿滋润防水不掉色</li>
                                                <li class="commodity-attribute">颜色：啫喱红</li>
                                            </ul>
                                        </li>
                                        <li class="col-md-1 text-center commodity-price">62.00</li>
                                        <li class="col-md-1 text-center commodity-num">1</li>
                                    </ul>
                                    <ul class="table-content">
                                        <li class="col-md-5">
                                            <div class="col-md-3 commodity-pic">
                                                <img src="{% static "images/app/kouhong.jpg" %}" alt="商品图片">
                                            </div>
                                            <ul class="col-md-9 commodity-detail">
                                                <li class="commodity-name">美康粉黛醉美唇膏 持久保湿滋润防水不掉色</li>
                                                <li class="commodity-attribute">颜色：玫瑰紫</li>
                                            </ul>
                                        </li>
                                        <li class="col-md-1 text-center commodity-price">62.00</li>
                                        <li class="col-md-1 text-center commodity-num">1</li>
                                    </ul>
                                    <div class="table-right">
                                        <ul>
                                            <li>
                                                <p class="total-price">124.00</p>
                                            </li>
                                            <li class="transaction-status">
                                                <p class="status-text">买家已付款</p>
                                                <p class="remind-text hide">买家已提醒发货</p>
                                            </li>
                                            <li class="transaction-operation">
                                                <a class="btn" data-toggle="modal" data-target="#sentModal"
                                                   role="button">发货</a>
                                                <a class="btn hide" data-toggle="modal" data-target="#confirmModal"
                                                   role="button">收到提醒</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="order">
                                <p class="order-detail">
                                    <span class="detail-text">订单编号：00001</span>
                                    <span class="detail-text">订单生成时间：2017-3-25 10:00</span>
                                </p>
                                <div class="order-content">
                                    <ul class="table-content">
                                        <li class="col-md-5">
                                            <div class="col-md-3 commodity-pic">
                                                <a href="#">
                                                    <img src="{% static "images/app/kouhong.jpg" %}" alt="商品图片">
                                                </a>
                                            </div>
                                            <ul class="col-md-9 commodity-detail">
                                                <li class="commodity-name">美康粉黛醉美唇膏 持久保湿滋润防水不掉色</li>
                                                <li class="commodity-attribute">颜色：啫喱红</li>
                                            </ul>
                                        </li>
                                        <li class="col-md-1 text-center commodity-price">62.00</li>
                                        <li class="col-md-1 text-center commodity-num">1</li>
                                    </ul>
                                    <ul class="table-content">
                                        <li class="col-md-5">
                                            <div class="col-md-3 commodity-pic">
                                                <img src="{% static "images/app/kouhong.jpg" %}" alt="商品图片">
                                            </div>
                                            <ul class="col-md-9 commodity-detail">
                                                <li class="commodity-name">美康粉黛醉美唇膏 持久保湿滋润防水不掉色</li>
                                                <li class="commodity-attribute">颜色：玫瑰紫</li>
                                            </ul>
                                        </li>
                                        <li class="col-md-1 text-center commodity-price">62.00</li>
                                        <li class="col-md-1 text-center commodity-num">1</li>
                                    </ul>
                                    <div class="table-right">
                                        <ul>
                                            <li>
                                                <p class="total-price">124.00</p>
                                            </li>
                                            <li class="transaction-status">
                                                <p class="status-text">买家已签收</p>
                                                <p class="remind-text hide">买家已提醒发货</p>
                                            </li>
                                            <li class="transaction-operation">
                                                <a class="btn hide" data-toggle="modal" data-target="#sentModal"
                                                   role="button">发货</a>
                                                <a class="btn hide" data-toggle="modal" data-target="#confirmModal"
                                                   role="button">收到提醒</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include "seller/aside.html" %}
    </div>
    <!--收到提醒模态框-->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">系统提示</h4>
                </div>
                <div class="modal-body">
                    已确定收到发货提醒
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--发货模态框-->
    <div class="modal fade" id="sentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">系统提示</h4>
                </div>
                <div class="modal-body">
                    已发货，等待买家签收
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}