{% extends "base.html" %}
{% load static %}
{% block title %}eshop-商家注册{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}
{% block body %}
    <div class="wrapper bg-white">
        <div id="logo">
            <a href="index">eshop</a>
            <span>商家注册</span>
        </div>
        <div class="logo-right">
            已有账号？<a href="{% url 'seller:login' %}">请登录</a>
        </div>
    </div>
    <div class="wrapper-bottom"></div>
    <div class="content">
        <div class="shadow-box">
            <div class="content-box">
                <form id="registerForm" v-on:submit.prevent="doRegister" style="padding-top:2.8rem;position:absolute">
                    {% csrf_token %}
                    <div class="form-item">
                        <span class="form-item-name">用户名</span>
                        <input v-model="seller.name" name="username" id="username" autocomplete="off" value="" maxlength="30"
                               placeholder="请输入您的用户名" type="text" class="input-box">
                    </div>
                    <div class="form-item">
                        <span class="form-item-name">手机号码</span>
                        <input v-model="seller.mobile" name="mobile" id="mobile" autocomplete="off" value="" maxlength="11"
                               placeholder="请输入您的手机号码" type="text" class="input-box">
                    </div>
                    <div class="form-item">
                        <span class="form-item-name">邮箱</span>
                        <input v-model="seller.email" name="email" id="email" autocomplete="off" value="" maxlength="30" placeholder="请输入您的邮箱"
                               type="text" class="input-box">
                    </div>
                    <div class="form-item">
                        <span class="form-item-name">身份证号码</span>
                        <input v-model="seller.idno" name="idno" id="idno" autocomplete="off" value="" maxlength="18" placeholder="请输入您的身份证号码"
                               type="text" class="input-box">
                    </div>
                    <div class="form-item">
                        <span class="form-item-name">登陆密码</span>
                        <input v-model="seller.password" name="password" id="password" maxlength="130" type="password" class="input-box"
                               placeholder="建议至少使用两种字符组合">
                    </div>
                    <div class="form-item">
                        <span class="form-item-name">确认密码</span>
                        <input v-model="seller.confirmPwd" name="confirm-pwd" id="confirm-pwd" maxlength="130" type="password" class="input-box"
                               placeholder="请再次输入密码">
                    </div>
                    <div class="form-item">
                        <span class="form-item-name">验证码</span>
                        <input v-model="seller.captchaCode" name="verify-code" id="verify-code" autocomplete="off" maxlength="4" placeholder="请输入验证码"
                               type="text" class="input-box" style="width:8rem;margin-right:.3rem">
                        <a v-on:click="updateCaptcha" style="position: absolute" href="javascript:void(0);">
                            <img v-bind:src="captcha.imageUrl" class="img-code" title="点击更换验证码" alt="点击更换验证码"
                                 width="84" height="37">
                        </a>
                        <a v-on:click="updateCaptcha" id="change-code" style="position:relative;left:4.4rem"
                           href="javascript:void(0);">换张图</a>
                    </div>
                    <input type="submit" value="立即注册" class="submit-btn" data-target="#registerModal">
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">系统提示</h4>
                </div>
                <div class="modal-body" id="modalInfo">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static "js/js.cookie.js" %}"></script>
    <script src="{% static "js/seller/register.js" %}"></script>
{% endblock %}