.navbar {
    position:fixed;
    margin-bottom:0;
    z-index:10;
    width:100%;
}

.affix-tab {
    position:fixed;
    width:8rem;
    height:100%;
    background-color:#272A34;
    overflow:auto;
    z-index:5;
    padding-top:3rem;

}

.affix-tab li{
    width:8rem;
    float:left;
    margin-bottom:0.2rem;
}

.affix-tab li a{
    display:inline-block;
    width:8rem;
    color:orange;
    text-decoration:none;
    text-align:left;
    padding-left:2rem;
}

.affix-tab li a:hover{
    background-color:white;
    color:#272A34;
    font-weight:bold;
}

.affix-tab li .affix-item-active{
    background-color:white;
    color:#272A34;
    font-weight:bold;
}

.content {
    padding-top:3rem;
    padding-left:9rem;
}
