<!--顶部导航条 -->
<header class="nav-wrapper">
    <div class="nav-content">
        <div class="nav-welcome hidden">
                <span>欢迎来到eshop,请
                    <a href="{% url 'customer:login' %}" style="color: #ff2832">登录</a>
                    <a href="{% url 'customer:register' %}">成为会员</a>
                </span>
        </div>
        <ul class="nav-operation">
            <li class="operation-item">
                hi，
                <a href="#" class="nav-user-name" style="color: #ff2832;margin-right: .2rem;">zihang1013</a>
                <a href="{% url 'customer:login' %}" rel="nofollow" class="logout">[退出]</a>
            </li>
            <li class="operation-item">
                <a target="_blank" href="" name="购物车" rel="nofollow">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"
                                  style="color:#ff2832"></span> 购物车
                    <span class="goods-number">0</span>
                </a>
            </li>
            <li class="operation-item">
                <a target="_blank" href="" name="收藏夹" rel="nofollow">
                            <span class="glyphicon glyphicon-heart" aria-hidden="true"
                                  style="color:#ff2832"></span> 收藏夹
                </a>
            </li>
            <li class="operation-item">
                <a target="_blank" href="" name="我的订单" rel="nofollow">我的订单</a>
            </li>
            <li class="operation-item dropdown">
                <a target="_blank" href="" name="个人中心" rel="nofollow">个人中心</a>
            </li>
            <li class="operation-item dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    客户服务<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">联系客服</a></li>
                    <li><a href="#">意见建议</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<!--搜索框 -->
<div class="logo-wrapper">
    <div id="logo" style="margin:1rem .6rem"><a href="#">eshop</a></div>
    <div class="search-bar">
        <form>
            <input id="search-text" type="text" placeholder="搜索你想要的商品" autocomplete="off">
            <input id="search-btn" value="搜 索" type="submit">
        </form>
    </div>
</div>