<!--顶部导航条 -->
<header class="nav-wrapper">
    <div class="nav-content">
        <div class="nav-welcome {% if customer %}hidden{% endif %}">
                <span>欢迎来到eshop,请
                    <a href="{% url 'customer:login' %}" style="color: #ff2832">登录</a>
                    <a href="{% url 'customer:register' %}">成为会员</a>
                </span>
        </div>
        <ul class="nav-operation">
            {% if customer %}
            <li class="operation-item">
                hi，
                <a href="{% url 'customer:index' %}" class="nav-user-name" style="color: #ff2832;margin-right: .2rem;">{{ customer.name }}</a>
                <a href="logout" rel="nofollow" class="logout">[退出]</a>
            </li>
            {% endif %}
            <li class="operation-item">
                <a target="_blank" href="{% url 'app:shopcart' %}" name="购物车" rel="nofollow">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"
                                  style="color:#ff2832"></span> 购物车
                    <span class="goods-number">{{shopcartsNum}}</span>
                </a>
            </li>
            <li class="operation-item">
                <a target="_blank" href="{% url 'customer:collection' %}" name="收藏夹" rel="nofollow">
                            <span class="glyphicon glyphicon-heart" aria-hidden="true"
                                  style="color:#ff2832"></span> 收藏夹
                </a>
            </li>
            <li class="operation-item">
                <a target="_blank" href="{% url 'customer:order' %}" name="我的订单" rel="nofollow">我的订单</a>
            </li>
            <li class="operation-item">
                <a target="_blank" href="{% url 'customer:index' %}" name="个人中心" rel="nofollow">个人中心</a>
            </li>
            <li class="operation-item dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    客户服务<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'app:contact' %}">联系客服</a></li>
                    <li><a href="{% url 'customer:suggestion' %}">意见建议</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<!--搜索框 -->
<div class="logo-wrapper">
    <div id="logo" style="margin:1rem .6rem"><a href="{% url 'app:index' %}">eshop</a></div>
    <div class="search-bar">
        <form method="get" action="{% url 'app:search' %}">
            <input id="search-text" name="name" type="text" placeholder="搜索你想要的商品" autocomplete="on">
            <input id="search-btn" value="搜 索" type="submit">
        </form>
    </div>
</div>