{% extends "base.html" %}

{% load static %}
{% block title %}eshop-easy shopping{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/index.css' %}">
{% endblock %}

{% block body %}
    <div class="nav-wrapper">
        <div class="nav">
           <div class="nav-welcome">
                <span>欢迎来到eshop,请
                <a href="{% url 'customer:login' %}" style="color: #ff2832">登录</a>
                <a href="{% url 'customer:register' %}">成为会员</a>
                </span>
           </div>
            <ul class="nav-operation">
                <li class="operation-item">
                    <a target="_blank" href="" name="购物车" rel="nofollow">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="color:#ff2832"></span> 购物车
                        <span class="goods-number">0</span>
                    </a>
                </li>
                <li class="operation-item">
                    <a target="_blank" href="" name="我的订单" rel="nofollow">我的订单</a>
                </li>
                <li class="operation-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        商家支持<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">免费开店</a></li>
                        <li><a href="#">已卖出的商品</a></li>
                        <li><a href="#">出售中的商品</a></li>
                    </ul>
                </li>
                <li class="operation-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        客户服务<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">帮助中心</a></li>
                        <li><a href="#">联系客服</a></li>
                        <li><a href="#">意见建议</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="logo-wrapper">
        <div class="logo">eshop</div>
        <div class="search-bar">
            <form>
                <input id="searchInput" type="text" placeholder="商品/店铺/品牌" autocomplete="off">
                <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}