{% extends "base.html" %}

{% load static %}
{% block title %}eshop-easy shopping{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app/index.css' %}">
{% endblock %}

{% block body %}
    <div class="nav-wrapper">
        <div class="nav">
           <div class="nav-welcome">
                <span>欢迎来到eshop,请
                <a href="{% url 'customer:login' %}" style="color: #ff2832">登录</a>
                <a href="{% url 'customer:register' %}">成为会员</a>
                </span>
           </div>
            <ul class="nav-operation">
                <li>购物车</li>
                <li>我的订单</li>
                <li>商家支持</li>
                <li>客户服务</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript">

    </script>
{% endblock %}