<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <div class="wrapper text-center clearfix">
        <div class="links">
            <a href="#" rel="nofollow" target="_blank">关于eshop</a>|<a href="#" rel="nofollow" target="_blank">联系我们</a>|<a
                href="#" rel="nofollow" target="_blank">移动平台</a>
        </div>
        <div class="copyright">Copyright &copy; scnu 版权所有</div>
    </div>
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/vue-resource.min.js' %}"></script>
    <script>
        Vue.http.options.emulateJSON = true;
    </script>
    {% block js %}{% endblock %}
</body>
</html>