<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block foot %}
    <div class="wrapper text-center clearfix">
        <div class="links">
            <a href="{% url 'app:about' %}" rel="nofollow" target="_blank">关于eshop</a>|<a href="{% url 'app:contact' %}" rel="nofollow" target="_blank">联系我们</a>|<a
                href="{% url 'app:help' %}" rel="nofollow" target="_blank">帮助中心</a>
        </div>
        <div class="copyright">Copyright &copy; scnu 版权所有</div>
    </div>
    {% endblock %}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/vue-resource.min.js' %}"></script>
    <script>
        Vue.http.options.emulateJSON = true;
    </script>
    {% block js %}{% endblock %}
</body>
</html>