<header class="header-bar">
    <h1 class="header-title">eshop 管理后台</h1>
    <div class="header-right">
        <div class="dropdown">
            <div href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{user.username}} <span class="caret"></span></div>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#"><span class="glyphicon glyphicon-asterisk"></span> 设置</a></li>
                <li><a href="{% url 'admin:logout' %}"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
            </ul>
        </div>
    </div>
</header>
<ul class="affix-tab">
    <li><a {% ifequal controller "index" %}class="affix-active-item"{% endifequal %} href="{% url 'admin:index' %}">总览</a></li>
    <li><a {% ifequal controller "customer" %}class="affix-active-item"{% endifequal %} href="{% url 'admin:customerIndex' %}">顾客管理</a></li>
    <li><a {% ifequal controller "seller" %}class="affix-active-item"{% endifequal %} href="{% url 'admin:sellerIndex' %}">商家管理</a></li>
    <li><a {% ifequal controller "admin" %}class="affix-active-item"{% endifequal %} href="{% url 'admin:adminIndex' %}">管理员管理</a></li>
</ul>
