<header class="header-bar">
    <h1 class="header-title">eshop 管理后台</h1>
    <div class="header-right">
        <div class="dropdown">
            <div href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{user.username}} <span class="caret"></span></div>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#"><span class="glyphicon glyphicon-asterisk"></span> 设置</a></li>
                <li><a href="{% url 'admin:logout' %}"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
            </ul>
        </div>
    </div>
</header>
<ul class="affix-tab">
    <li>
        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        <a {% ifequal controller "common" %}class="affix-active-item"{% endifequal %} href="{% url 'admin:index' %}">总览</a>
    </li>
    <li>
        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
        <a {% ifequal controller "customeradmin" %}class="affix-active-item"{% endifequal %} href="{% url 'admin:customerAdminIndex' %}">买家管理</a>
    </li>
    <li>
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
        <a {% ifequal controller "selleradmin" %}class="affix-active-item"{% endifequal %} href="{% url 'admin:sellerAdminIndex' %}">卖家管理</a>
    </li>
    <li>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <a {% ifequal controller "adminadmin" %}class="affix-active-item"{% endifequal %} href="{% url 'admin:adminAdminAdminIndex' %}">管理员管理</a>
    </li>
    <li>
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        <a {% ifequal controller "appadmin" %}class="affix-active-item"{% endifequal %} href="{% url 'admin:appAdminIndex' %}">商城管理</a>
    </li>
    <li>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <a {% ifequal controller "appadmin" %}class="affix-active-item"{% endifequal %} href="{% url 'admin:appAdminIndex' %}">账户管理</a>
    </li>
</ul>


